%br
%br
= form_for product_type, :html => {:multipart => true} do |f|
  .field
    = f.label :name
    %br
    = f.text_field :name, placeholder: "Printed Tiles"
  .field
    = f.label :comes_with_title , "'Comes with' title"
    %br
    = f.text_field :comes_with_title, placeholder: "What do I get with a..."
  .field
    = f.label :comes_with_description, "'Comes with' description (What does the product come with?)"
    %br
    = f.text_area :comes_with_description, :class => 'form_text_area', placeholder: "You get a bag of printed tiles..."
  .field
    = f.label :description
    %br
    = f.text_area :description, :class => 'form_text_area', placeholder: "Printed tiles are great for helping to decorate your..."
  .field
    = f.text_field :image, :disable => true if product_type.image?
    %br
    = f.label :image
    %br
    = f.file_field :image
    = f.hidden_field :image_cache
    - if product_type.image?
      .field
        = f.label :delete_image
        = f.check_box :remove_image
  .field
    = f.label :digital_product
    %br
    = f.check_box :digital_product, {:checked => product_type.digital_product},1,0
  .field
    = f.label :ready_for_public
    %br
    = f.check_box :ready_for_public, {:checked => product_type.ready_for_public},1,0
  .actions
    = f.submit 'Save'
