<p>
  <b>Name:</b>
  <%= @product_type.name %>
</p>
<p>
  <b>Description:</b>
  <%= @product_type.description %>
</p>
<p>
  <b>Image:</b>
  <%= @product_type.image %>
</p>
<p>
  <b>Ready for public:</b>
  <%= @product_type.ready_for_public %>
</p>
<p>
  <b>Comes with title:</b>
  <%= @product_type.comes_with_title %>
</p>
<p>
  <b>Comes with description:</b>
  <%= @product_type.comes_with_description %>
</p>
<p>
  <b>Digital product:</b>
  <%= @product_type.digital_product %>
</p>
<%= link_to 'Edit', edit_product_type_path(@product_type) %>
\|
<%= link_to 'Back', product_types_path %>