<div class="card">
  <div class="card-header">
    Listing subcategories
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-auto mr-auto">
            <%= paginate @subcategories %>
          </div>
          <div class="col-auto">
            <%= link_to 'New Subcategory', new_admin_subcategory_path, class: 'btn btn-primary mb-3' %>
          </div>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="table-secondary">
              <th class="align-middle text-center"><%= sort_link(@q, :category) %></th>
              <th class="align-middle text-center"><%= sort_link(@q, :name) %></th>
              <th class="align-middle text-center"><%= sort_link(@q, :code) %></th>
              <th class="align-middle text-center"><%= sort_link(@q, :description) %></th>
              <th style="width: 10%;"></th>
            </tr>
          </thead>
          <tbody>
            <% @subcategories.each do |subcategory| %>
              <tr>
                <td class="align-middle text-center">
                  <%= link_to subcategory.category.name, admin_category_path(subcategory.category) %>
                </td>
                <td class="align-middle text-center">
                  <%= link_to subcategory.name, admin_subcategory_path(subcategory) %>
                </td>
                <td class="align-middle text-center">
                  <%= subcategory.code %>
                </td>
                <td class="align-middle text-center">
                  <%= snippet(subcategory.description, :word_count => 10) if subcategory.description %>
                </td>
                <td class="align-middle text-center">
                  <%= link_to raw('<i class="far fa-edit"></i>'), edit_admin_subcategory_path(subcategory) %>
                  &nbsp;
                  <%= link_to raw('<i class="far fa-trash-alt"></i>'), [:admin, subcategory], data: { confirm: 'Are you sure?' }, method: :delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @subcategories %>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            Search
          </div>
          <div class="card-body">
            <%= search_form_for(@q, url: 'subcategories') do |f| %>
              <div class="form-group">
                <%= f.label :name_cont %>
                <%= f.search_field :name_cont, class: "form-control" %>
              </div>
              <br />
              <%= f.submit 'Search', class: 'btn btn-primary btn-block mb-1' %>
              <%= link_to "Clear Search", request.path, class:"btn btn-warning btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
