<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <br/>
        <h2>One last thing...</h2>
        <p>Check your email preferences and accept the terms of service, and you're good to go!</p>
        <br/>
        <div id="regular_signup_div">
          <%= form_for(@user, :url => "/register_third_party_guest?source=#{@source}&order_id=#{@order_id}", :html => {:method => :post}) do |f| %>
            <%= f.hidden_field :id, value: @user.id %>
            <%= render partial: 'registrations/email_preferences', locals: {f: f} %>
            <% if !@user.email? || !@user.valid? %>
              <%= render partial: 'registrations/tos_checkbox', locals: {f: f} %>
            <% end %>
            <br/>
            <%= f.submit "Submit", class: 'btn btn-primary', data: {disable_with: 'Submit'} %>
            <br/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
