<h1>Marketing Email Campaigns</h1>
<br/>
<table class="admin_table">
  <tr>
    <th>Description</th>
    <th>Click throughs</th>
    <th>Emails Sent</th>
    <th>Effectiveness Ratio</th>
    <th></th>
    <th></th>
  </tr>
  <% @email_campaigns.each do |email_campaign| %>
    <tr>
      <td>
        <%= link_to snippet(email_campaign.description), email_campaign %>
      </td>
      <td>
        <%= email_campaign.click_throughs %>
      </td>
      <td>
        <%= email_campaign.emails_sent %>
      </td>
      <td>#{email_campaign.effectiveness_ratio}%</td>
      <td>
        <%= link_to 'Edit', edit_email_campaign_path(email_campaign) %>
      </td>
      <td>
        <%= link_to 'Destroy', email_campaign, data: {confirm: 'Are you sure?'}, :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to 'New Email Campaign', new_email_campaign_path %>