%h1 Marketing Email Campaigns
%br
%table.admin_table
  %tr
    %th Description
    %th Click throughs
    %th Emails Sent
    %th Effectiveness Ratio
    %th
    %th

  - @email_campaigns.each do |email_campaign|
    %tr
      %td= link_to snippet(email_campaign.description), email_campaign
      %td= email_campaign.click_throughs
      %td= email_campaign.emails_sent
      %td #{email_campaign.effectiveness_ratio}%
      %td= link_to 'Edit', edit_email_campaign_path(email_campaign)
      %td= link_to 'Destroy', email_campaign, data: {confirm: 'Are you sure?'}, :method => :delete

%br

= link_to 'New Email Campaign', new_email_campaign_path
