<p>
  <b>Description:</b>
  <%= @email_campaign.description %>
</p>
<br/>
<p>
  <b>Subject:</b>
  <%= @email_campaign.subject %>
</p>
<br/>
<p>
  <b>Redirect Link:</b>
  <%= @email_campaign.redirect_link %>
</p>
<br/>
<p>
  <b>Reference ID:</b>
  <%= @email_campaign.guid %>
</p>
<br/>
<p>
  <b>Image:</b>
  <br/>
  <%= image_tag(@email_campaign.image.medium) %>
</p>
<br/>
<p>
  <b>Click throughs:</b>
  <%= @email_campaign.click_throughs %>
</p>
<br/>
<p>
  <b>Total sent:</b>
  <%= @email_campaign.emails_sent %>
</p>
<br/>

<p>
  <b>Effectiveness:</b>
  <%= @email_campaign.effectiveness_ratio %>%
</p>
<br/>
<p>
  <b>Created At:</b>
  <%= @email_campaign.created_at.strftime("%D %r") %>
</p>
<br/>
<p>
  <b>Updated At:</b>
  <%= @email_campaign.updated_at.strftime("%D %r") %>
</p>
<br/>

<% if @email_campaign.emails_sent == 0 %>
  <%= form_for @email_campaign, url: {action: :send_marketing_email_preview} do |f| %>
  <%= f.hidden_field :id %>
  <%= f.submit 'Send Preview to Admins', data: {disable_with: 'Sending...'} %>
<% end %>
<%= form_for @email_campaign, url: {action: :send_marketing_emails} do |f| %>
<%= f.hidden_field :id %>
<%= f.submit 'Send Emails', data: {disable_with: 'Sending...'} %>
(Please only click this once if you get a message about emails being sent.)
<% end %>
<br/>
<% end %>
<%= link_to 'Edit', edit_email_campaign_path(@email_campaign) %>
\|
<%= link_to 'Back', email_campaigns_path %>