%div{align: 'center'}
  %h2
    #{@product.code_and_name} #{@product_type}
%br
- if @image
  %div{align: 'center', style: "padding: 5px;"}
    =image_tag(@image, alt: @product.code_and_name)
%p
  = @product.description
- if @message
  %br
  %p
    = @message
- if @product.youtube_url?
  %p
    Check out the
    %a{href: "https://www.youtube.com/watch?v=#{@product.youtube_url}"}Youtube
    video.
%br
- if @product_type.downcase != 'instructions'
  Currently, we have
  %b{style: "color:red;font-size:20px;"}
    #{@product.quantity}
  in stock.
  %br
- if @product.free?
  %b{style: "color:red;font-size:20px;"}
    These #{@product_type.name} are completely FREE!
- else
  - if @product.discount_percentage?
    %b
      Special introductory price! Normally #{number_to_currency(@product.price)}, but only
    %b{style: "color:red;font-size:20px"}
      #{number_to_currency(@product.discounted_price)}
    %b
      for a limited time!
  - else
    %b{style: "font-size:20px;"}
      Only #{number_to_currency(@product.price)}!
%br
%br
%div{align: 'center'}
  Check it out on
  %a{href: "#{@host}/#{@product.product_code}/#{@product.name.to_snake_case}"}Brick City Depot
  - unless @product.free?
    or
    &nbsp; &nbsp;

    /[if mso]
      <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#{@host}/store/add_to_cart/#{@product.id}" target="_blank" style="height:40px;v-text-anchor:middle;width:125px;" arcsize="10%" strokecolor="#1e3650" fillcolor="#246dbc">
      <w:anchorlock/>
      <center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">Add to Cart</center>
      </v:roundrect>
    %a{href: "#{@host}/add_to_cart/#{@product.product_code}", target: "_blank", style: "background-color:#246dbc;border:1px solid #1e3650;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:125px;-webkit-text-size-adjust:none;mso-hide:all;"} Add to Cart
