#{@product.code_and_name} #{@product_type}
\
= @product.description
\
- if @message
  = @message
  \
- if @product.youtube_url?
  Check out the Youtube video: https://www.youtube.com/watch?v=#{@product.youtube_url}
\
- if @product_type.downcase != 'instructions'
  Currently, we have #{@product.quantity} in stock.
  \
- if @product.free?
  These #{@product_type.name} are completely FREE!
- else
  - if @product.discount_percentage?
    Special introductory price! Normally #{number_to_currency(@product.price)}, but only #{number_to_currency(@product.discounted_price)} for a limited time!
  - else
    Only #{number_to_currency(@product.price)}!
\
\
Check it out on Brick City Depot: #{@host}/#{@product.product_code}/#{@product.name.to_snake_case}
\
\
\
Thank you for your business.
\
Brick City Depot
\
\
\
