<h1>Subcategory Details</h1>
<br/>
<p>
  <b>Name:</b>
  <%= @subcategory.name %>
</p>
<br/>
<p>
  <b>Code:</b>
  <%= @subcategory.code %>
</p>
<br/>
<p>
  <b>Category:</b>
  <%= @subcategory.category.name %>
</p>
<br/>
<p>
  <b>Description:</b>
  <%= @subcategory.description %>
</p>
<br/>
<p>
  <b>Products:</b>
  <br/>
  <% @subcategory.products.each do |product| %>
    <br/>
    <%= link_to "#{product.product_code} #{product.name}", :controller => :products, :action => :show, :id => product.id %>
  <% end %>
</p>
<br/>
<br/>
<%= link_to 'Edit', edit_subcategory_path(@subcategory) %>
\|
<%= link_to 'Back', subcategories_path %>