= form_for partner do |f|
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :url
    %br
    = f.text_field :url
  .field
    = f.label :contact, "Contact Email"
    %br
    = f.text_field :contact
  .actions
    = f.submit 'Save'
