<h1>Listing partners</h1>
<br/>
<br/>
<table class="admin_table">
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Contact Email</th>
    <th></th>
    <th></th>
    <th class="sad">ONLY DESTROY IF NO ADVERTISING CAMPAIGNS</th>
  </tr>
  <% @partners.each do |partner| %>
    <tr>
      <td>
        <%= partner.name %>
      </td>
      <td>
        <%= partner.url %>
      </td>
      <td>
        <%= partner.contact %>
      </td>
      <td>
        <%= link_to 'Show', partner %>
      </td>
      <td>
        <%= link_to 'Edit', edit_partner_path(partner) %>
      </td>
      <td>
        <%= link_to 'Destroy', partner, data: {confirm: 'Are you sure?'}, :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to 'New Partner', new_partner_path %>