%p
  %b Name:
  = @partner.name
%p
  %b Url:
  = @partner.url
%p
  %b Contact:
  = @partner.contact
%br
%p
  %b Campaigns:
  %br
  - @partner.advertising_campaigns.each do |ac|
    %br
    %b Reference Code:
    = link_to ac.reference_code, :controller => :advertising_campaigns, :action => :show, :id => ac.id
    %br
    %b Is Campaign Live?
    - if ac.campaign_live?
      %b.happy YES
    - else
      %b.sad NO
    %br
    %b Description:
    = snippet(ac.description)
    %br
%br
= link_to 'Edit', edit_partner_path(@partner)
\|
= link_to 'Back', partners_path
\|
= link_to "New Advertising Campaign", new_advertising_campaign_path
