<p>
  <b>Name:</b>
  <%= @partner.name %>
</p>
<p>
  <b>Url:</b>
  <%= @partner.url %>
</p>
<p>
  <b>Contact:</b>
  <%= @partner.contact %>
</p>
<br/>
<p>
  <b>Campaigns:</b>
  <br/>
  <% @partner.advertising_campaigns.each do |ac| %>
    <br/>
    <b>Reference Code:</b>
    <%= link_to ac.reference_code, :controller => :advertising_campaigns, :action => :show, :id => ac.id %>
    <br/>
    <b>Is Campaign Live?</b>
    <% if ac.campaign_live? %>
      <b class="happy">YES</b>
    <% else %>
      <b class="sad">NO</b>
    <% end %>
    <br/>
    <b>Description:</b>
    <%= snippet(ac.description) %>
    <br/>
  <% end %>
</p>
<br/>
<%= link_to 'Edit', edit_partner_path(@partner) %>
\|
<%= link_to 'Back', partners_path %>
\|
<%= link_to "New Advertising Campaign", new_advertising_campaign_path %>