<%= nested_form_for [:admin, update] do |f| %>
  <div class="row">
    <div class="col-5">
      <div class="card">
        <div class="card-header">
          <b>Update</b>
        </div>
        <div class="card-body">
          <div class="form-group">
            <%= f.label :title, class: 'form-label' %>
            <%= f.text_field :title, placeholder: "Amsterdam Sale!", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :link, "Link (Where BCD will go to when user clicks on the image.) Example:. To go to FAQ, make the link look like this: /faq", class: 'form-label' %>
            <%= f.text_field :link, placeholder: "/faq", class: 'form-control' %>
          </div>
          <br />
          <div class="form-group">
            <% if update.image? && !update.image.blank? %>
              <%= f.label :image, "Image", class: "form-label" %>
              <br/>
              <% if update.image_cache %>
                <%= f.text_field :image_cache, :disabled => true, class: "form-control" %>
              <% else %>
                <%= f.text_field :image, :disabled => true, class: "form-control" %>
              <% end %>
            <% end %>

            <%= f.label :image, "Image", class: "form-label" %>
            <%= f.file_field :image, class: "form-control-file mt-2" %>
            <%= f.hidden_field :image_cache %>
            <% if update.image? %>
              <div class="form-check mt-2">
                <%= f.check_box :remove_image, class: "form-check-input" %>
                <%= f.label :remove_image, "Delete Image", class: "form-check-label" %>
              </div>
            <% end %>
          </div>
          <div class="form-group mt-4">
            <%= f.submit 'Save', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
