<div class="row mt-4 mb-2">
  <div class="col-auto mr-auto">
    <h1><%= @update.title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <b class="mt-2">Update</b>
        <%= link_to 'Edit', edit_admin_update_path(@update), class: 'btn btn-primary' %>
      </div>
      <div class="card-body">
        <table>
          <tr>
            <td>
              <b>Link:</b>
            </td>
            <td></td>
            <td class="pl-4">
              <%= @update.link %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Live?</b>
            </td>
            <td></td>
            <td class="pl-4">
              <%= decorate_boolean(@update.live) %>
            </td>
          </tr>
        </table>
        <br />
        <%= form_for [:admin, @update] do |f| %>
          <div class="form-check">
            <%= f.check_box :live, { checked: !@update.live?, hidden: true } %>
          </div>
          <%= f.submit @update.live? ? 'Disable Update' : 'Enable Update', class: @update.live? ? 'btn btn-danger' : 'btn btn-success' %>
        <% end %>
      </div>
    </div>
    <%= link_to 'Back to Index', admin_updates_path %>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <b class="mt-2">Image Preview (If it doesn't look good here. It won't look good on the front page.)</b>
      </div>
      <div class="card-body">
        <% if @update.image? %>
          <%= link_to(image_tag(@update.image.url), @update.link) unless @update.image.blank? %>
        <% end %>
      </div>
    </div>
  </div>
</div>
