<%= paginate orders if paginate_it == true %>
<table class="table table-bordered">
  <thead>
    <tr class="table-secondary">
      <th class="align-middle text-center">Date</th>
      <th class="align-middle text-center">Transaction ID/Request ID</th>
      <th class="align-middle text-center">User</th>
      <th class="align-middle text-center">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <%= form_for order, url: { action: :update_order_shipping_status} do |f| %>
        <%= hidden_field_tag(:order_id,order.id) %>
        <tr>
          <td class="align-middle text-center">
            <%= order.created_at.strftime("%m/%d/%Y") %>
          </td>
          <td class="align-middle text-center">
            <%= link_to order.transaction_id, { controller: :admin, action: :order, id: order.id } %>
            <br/>
            <%= order.request_id %>
          </td>
          <td class="align-middle text-center">
            <%= order.user.email %>
          </td>
          <td class="align-middle text-center">
            <%= select_tag(:shipping_status, options_for_select(shipping_statuses, order.shipping_status), class: 'form-control') %>
          </td>
          <td class="align-middle text-center">
            <%= f.submit "Update Order", class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate orders if paginate_it == true %>
