<% if user %>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="account-info-tab" data-toggle="tab" href="#account-info" role="tab" aria-controls="account-info" aria-selected="true">Account Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="user-actions-tab" data-toggle="tab" href="#user-actions" role="tab" aria-controls="user-actions" aria-selected="false">User Actions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="order-info-tab" data-toggle="tab" href="#order-info" role="tab" aria-controls="order-info" aria-selected="false">Order Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="gifting-tab" data-toggle="tab" href="#gifting" role="tab" aria-controls="gifting" aria-selected="false">Gifting Instructions</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="account-info" role="tabpanel" aria-labelledby="account-info-tab">
      <div class="row">
        <div class="col-10">
          <div class="card">
            <div class="card-body">
              Account created: <%= user.created_at.to_s(:date_time12) %>
              <br />
              Last updated: <%= user.updated_at.to_s(:date_time12) %>
              <% unless user.account_status == 'G' %>
                <table class="table table-bordered">
                  <thead>
                    <tr class="table-secondary">
                      <th class="align-middle text-center">Login Count</th>
                      <th class="align-middle text-center">Current Login</th>
                      <th class="align-middle text-center">Last Login</th>
                      <th class="align-middle text-center">Current IP</th>
                      <th class="align-middle text-center">Last IP</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="align-middle text-center">
                        <%= user.sign_in_count %>
                      </td>
                      <td class="align-middle text-center">
                        <%= user.current_sign_in_at&.to_s(:date_time12) %>
                      </td>
                      <td class="align-middle text-center">
                        <%= user.last_sign_in_at&.to_s(:date_time12) %>
                      </td>
                      <td class="align-middle text-center">
                        <%= user.current_sign_in_ip %>
                      </td>
                      <td class="align-middle text-center">
                        <%= user.last_sign_in_ip %>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br/>
                <span class='font-weight-bold'>
                  Alternative Logins
                </span>
                <table class="table table-bordered">
                  <thead>
                    <tr class="table-secondary">
                      <th class="align-middle text-center">Provider</th>
                      <th class="align-middle text-center">User ID</th>
                      <th class="align-middle text-center">Created</th>
                      <th class="align-middle text-center">Updated</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% user.authentications.each do |auth| %>
                      <tr>
                        <td class="align-middle text-center">
                          <%= auth.provider %>
                        </td>
                        <td class="align-middle text-center">
                          <%= auth.uid %>
                        </td>
                        <td class="align-middle text-center">
                          <%= auth.created_at&.to_s(:date_time12) %>
                        </td>
                        <td class="align-middle text-center">
                          <%= auth.updated_at&.to_s(:date_time12) %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br/>
                <b>
                  Password Info
                </b>
                <table class="table table-bordered">
                  <thead>
                    <tr class="table-secondary">
                      <th class="align-middle text-center">Reset Pswd Token</th>
                      <th class="align-middle text-center">Rememember Token Created</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="align-middle text-center">
                        <%= user.reset_password_token %>
                      </td>
                      <td class="align-middle text-center">
                        <%= user.remember_created_at&.to_s(:date_time12) %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade show" id="user-actions" role="tabpanel" aria-labelledby="user-actions-tab">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <span class="font-weight-bold">Account Status:</span>
              <% if user.account_status == 'A' %>
                <b class="text-success">Active</b>
                <%= form_for(:user, url: { action: :change_user_status, email: /.*/ }, remote: true) do |f| %>
                  <%= f.hidden_field :email, value: user.email %>
                  <%= f.hidden_field :account_status, value: 'C' %>
                <%= f.submit 'Cancel Account', confirm: "Are you sure you want to CANCEL this account?", class: 'btn btn-danger' %>
              <% end %>
              <% elsif user.account_status == 'C' %>
                <b class="text-danger">Cancelled</b>
                <%= form_for(:user, :url => {:action => :change_user_status, :email => /.*/},:remote => true) do |f| %>
                  <%= f.hidden_field :email, :value => user.email %>
                  <%= f.hidden_field :account_status, :value => "A" %>
                <%= f.submit 'Activate Account', confirm: "Are you sure you want to ACTIVATE this account?", class: 'btn btn-success' %>
              <% end %>
              <% elsif user.account_status == 'G' %>
                <b class="text-success">Guest</b>
              <% end %>
              <br/>
              <span class='font-weight-bold'>User email: </span><%= user.email %>
              <br />
              <%= link_to "Sign in as #{user.email}", become_admin_path(user.id), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade show" id="order-info" role="tabpanel" aria-labelledby="order-info-tab">
      <table class="table table-bordered">
        <thead>
          <tr class="table-secondary">
            <th class="align-middle text-center">Order ID</th>
            <th class="align-middle text-center">Request ID</th>
            <th class="align-middle text-center">Transaction ID</th>
            <th class="align-middle text-center">Status</th>
            <th class="align-middle text-center">Created</th>
            <th class="align-middle text-center">Updated</th>
          </tr>
        </thead>
        <tbody>
          <% user.orders.each do |order| %>
            <tr>
              <td class="align-middle text-center">
                <%= link_to order.id, { controller: :admin, action: :order, id: order.id} %>
              </td>
              <td class="align-middle text-center">
                <%= order.request_id %>
              </td>
              <td class="align-middle text-center">
                <%= order.transaction_id %>
              </td>
              <% if (!order.status.blank? && order.status.upcase == "COMPLETED") || order.status.upcase == 'GIFT' %>
                <td class="align-middle text-center text-success">
                  <%= order.status %>
                </td>
              <% else %>
                <td class="align-middle text-center text-danger">
                  <%= order.status %>
                </td>
              <% end %>
              <td class="align-middle text-center">
                <%= order.created_at.to_s(:date_time12) %>
              </td>
              <td class="align-middle text-center">
                <%= order.updated_at.to_s(:date_time12) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade show" id="gifting" role="tabpanel" aria-labelledby="gifting-tab">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <p class="font-weight-bold">
                Gift Instructions to User (User already owns checked off products)
              </p>
              <table>
                <% products.each_with_index do |product, index| %>
                  <% if index % 3 == 0 %>
                    <tr></tr>
                  <% end %>
                  <td style="padding:1px 3px 1px 3px;">
                    <% owned = user.owns_product?(product.id) %>
                    <%= check_box_tag("product_ids[]", product.id, owned, id: product.id, onchange: "giftInstructions(#{user.id}, #{product.id})", disabled: owned) %>
                    &nbsp;
                    <%= product.code_and_name %>
                  </td>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>Could not find user with email:</p>
  <%= params[:user][:email] %>
<% end %>
