<h1>New Product Notification</h1>
<br/>
<%= form_for(:email, url: { action: :send_new_product_notification }) do |f| %>
  <div class="form-group">
    <%= f.label :product_id, 'Product' %>
    <br/>
    <%= f.select :product_id, @products, { prompt: true }, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :optional_message %>
    <br/>
    <%= f.text_area :optional_message, rows: 5, placeholder: 'Optional message to send to users about the product', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Send Notifications', class: 'btn btn-primary' %>
  </div>
<% end %>
