<h1>Order Lookup</h1>
<br/>
<div class="centered_text">
  <%= image_tag('paypal_screen.png') %>
</div>
<br/>
<br/>
<div class="card">
  <div class="card-header">
    Order Lookup
  </div>
  <div class="card-body">
    <%= form_for(:order, :url => {:action => :find_order},:remote => true) do |f| %>
      <div class="form-check">
        <%= f.radio_button :lookup_field, 'request_id', checked: true, class: 'form-check-input' %>
        <%= f.label :lookup_field, "Request ID", value: 'request_id', class: 'form-check-label' %>
        <br/>
        <%= f.radio_button :lookup_field, 'transaction_id', class: 'form-check-input' %>
        <%= f.label :lookup_field, "Transaction ID", value: 'transaction_id', class: 'form-check-label' %>
      </div>
      <div class="form-group">
        <%= f.label :lookup_id, 'ID' %>
        <%= f.text_field :lookup_id, id: 'order_info_request_id', placeholder: "1V3B2BB6F", size: 40, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit 'Search', id: 'order_info_search_submit', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
    <br/>
    <div id="order_info"></div>
