%h1 Order Info
%br
.centered_text
  = image_tag("paypal_screen.png")
%br
%br
= form_for(:order, :url => {:action => :find_order},:remote => true) do |f|
  .field
    = f.radio_button :lookup_field, 'request_id', checked: true
    = f.label :lookup_field, "Request ID", :value => 'request_id'
    %br
    = f.radio_button :lookup_field, 'transaction_id'
    = f.label :lookup_field, "Transaction ID", :value => 'transaction_id'
  .field
    = f.label :lookup_id, 'ID'
    %br
    = f.text_field :lookup_id, :id => 'order_info_request_id', placeholder: "1V3B2BB6F", size: 40
  %br
  .actions
    = f.submit 'Search', :id => 'order_info_search_submit'

%br
#order_info