<h1>Update Users Download Counts</h1>
<br/>
<p>
  Here you can update download counts for all users who have bought a certain model. The point of this is in case we have to update a PDF/parts list. Our users who have payed for it already should have access to the fixed version, even if they've
  already used up all their downloads. This form does 2 things. First, it updates download counts for everyone who has the instructions and has actually downloaded it. Second, it emails all those people who have actually downloaded it to let them know
  updated instructions are available. You only need to select the model being updated, and write a message letting the users know what was changed. You don't need to craft a whole email, a form email will be wrapped around the message you write letting
  users know what has changed.
</p>
<br/>
<br/>
<%= form_for(:user, :url => {:action => :update_downloads_for_user}) do |f| %>
<div class="field">
  <%= f.label :model %>
  <br/>
  <%= f.select :model, @products, :prompt => true %>
</div>
<div class="field">
  <%= f.label :message %>
  <br/>
  <%= f.text_area :message, rows: 15, cols:35 ,placeholder: "This model was updated because..." %>
</div>
<div class="actions">
  <%= f.submit 'Update Count', :id => 'update_users_download_count_user_search_submit' %>
</div>
<% end %>