<div class="row mt-4 mb-2">
  <div class="col-auto mr-auto">
    <h1><%= @advertising_campaign.reference_code %></h1>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <b class="mt-2">Advertising Campaign</b>
        <%= link_to 'Edit', edit_admin_advertising_campaign_path(@advertising_campaign), class: 'btn btn-primary' %>
      </div>
      <div class="card-body">
        <table>
          <tr>
            <td>
              <b>Reference Code:</b>
            </td>
            <td></td>
            <td class="pl-4">
              <%= @advertising_campaign.reference_code %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Partner:</b>
            </td>
            <td></td>
            <td class="pl-4">
              <%= link_to @advertising_campaign.partner.name, @advertising_campaign.partner %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Is Campaign Live?:</b>
            </td>
            <td></td>
            <td class="pl-4">
              <%= decorate_boolean(@advertising_campaign.campaign_live?) %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Description</b>
            </td>
            <td></td>
            <td class="pl-4">
              <%= @advertising_campaign.description %>
            </td>
          </tr>
          <tr>
            <td>
              <b>New Users from this Campaign:</b>
            </td>
            <td class="px-4"></td>
            <td class="pl-4">
              <%= @advertising_campaign.user_count %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <%= link_to 'Back to Index', admin_advertising_campaigns_path %>
  </div>
</div>
