= link_to "Home", root_path
|
= link_to "Admin Home", admin_index_path
|
= link_to "Products", products_path
|
= link_to "Categories", categories_path
|
= link_to "Subcats", subcategories_path
|
= link_to "Updates", updates_path
|
= link_to "Prod Types", product_types_path