.login.centered_text.float_right
  = image_tag('icons/cart.png')
  - if cart
    = link_to "#{pluralize(cart.total_quantity,'Item')} in Cart", cart_path
    &nbsp;
    #{number_to_currency cart.total_price}
  - else
    0 Items in Cart
    &nbsp;
    $0.00
  %br
  %br
  - if (user_signed_in? && !current_user.guest?) || radmin_signed_in?
    - if current_user
      = link_to("Sign Out",destroy_user_session_path)
      |
      = link_to("My Account", account_path)
    - if current_radmin
      = link_to("Sign Out",destroy_radmin_session_path)
      |
      = link_to("Admin Stuff",admin_index_path)
  - else
    = link_to("Sign In",new_user_session_path)
    or
    = link_to "Sign Up",new_user_registration_path



