.centered_text
  %h2 Instructions!
%br
%b Shop by Category:
%br
- for category in categories
  = link_to "#{category.name} (#{category.products.find_instructions_for_sale.count})", "/store/products/Instructions/#{category.name}"
  %br
- unless alternatives.blank?
  = link_to "Alternative Builds (#{alternatives.class == 'Array' ? alternatives.length : 1})", "/store/products/Instructions/#{category.name}"
%br
%br
%b Shop by Price:
%br
- for price_group in price_groups
  -if price_group[0] == 0
    = link_to "Free!!! (#{price_group[1]})", "/store/products/Instructions/group_on_price?price=free"
    %br
  -else
    = link_to "$#{price_group[0]} (#{price_group[1]})", "/store/products/Instructions/group_on_price?price=#{price_group[0]}"
    %br