= link_to "Home", :root
|
= link_to "Store", store_path
|
= link_to "Contact", contact_path
|
= link_to "Terms of Service", terms_of_service_path
|
= link_to "Privacy Policy", privacy_policy_path, :style => "color:red;"
%br
&copy; 
= Date.today.year
Brick City Depot, All Rights Reserved
%br
LEGO&reg; is a trademark of the LEGO Group of companies which does not sponsor, authorize, or endorse this site.
