<div class="social_links">
  Check us out on
  <br/>
  these sites
  <br/>
  <br/>
  <a class="image_link" href="http://www.facebook.com/pages/Brick-City-Depot/137179266449728?ref=ts&fref=ts" target="_blank">
    <%= image_tag('facebook.png', alt: "http://www.facebook.com/pages/Brick-City-Depot/137179266449728?ref=ts&fref=ts", title: "Follow us on Facebook") %>
  </a>
  <a class="image_link" href="https://twitter.com/brickcitydepot" target="_blank">
    <%= image_tag('twitter.png', alt: "https://twitter.com/brickcitydepot", title: "Follow us on Twitter") %>
  </a>
  <br>
    <a class="image_link" href="http://www.bricklink.com/store.asp?p=lylesbk" target="_blank">
      <%= image_tag('bricklink_logo.gif', alt: "http://www.bricklink.com/store.asp?p=lylesbk", title: "Check us out on Bricklink") %>
    </a>
  </br>
</div>
<br/>
<p>
  Beginner resources:
</p>
<br/>
<p>
  <%= link_to "BCD Tutorial", new_user_tutorial_path %>
</p>
<p>
  <%= link_to "BrickLink Tutorial", "http://www.bricklink.com/help.asp?topicID=35", :target => '_blank' %>
</p>
<p>
  <%= link_to "Peeron Color Chart", "http://www.peeron.com/inv/colors", :target => '_blank' %>
</p>