.social_links
  Check us out on
  %br
  these sites
  %br
  %br
  %a{:href => "http://www.facebook.com/pages/Brick-City-Depot/137179266449728?ref=ts&fref=ts", :class => "image_link", :target => '_blank'}
    = image_tag('facebook.png', alt: "http://www.facebook.com/pages/Brick-City-Depot/137179266449728?ref=ts&fref=ts", title: "Follow us on Facebook")
  %a{:href => "https://twitter.com/brickcitydepot", :class => "image_link", :target => '_blank'}
    = image_tag('twitter.png', alt: "https://twitter.com/brickcitydepot", title: "Follow us on Twitter")
  %br
    %a{:href => "http://www.bricklink.com/store.asp?p=lylesbk", :class => 'image_link', :target => '_blank'}
      = image_tag('bricklink_logo.gif', alt: "http://www.bricklink.com/store.asp?p=lylesbk", title: "Check us out on Bricklink")

%br
%p
  Beginner resources:
%br
%p
  = link_to "BCD Tutorial", new_user_tutorial_path
%p
  = link_to "BrickLink Tutorial", "http://www.bricklink.com/help.asp?topicID=35", :target => '_blank'
%p
  = link_to "Peeron Color Chart", "http://www.peeron.com/inv/colors", :target => '_blank'
