<section class="content">
  <div class="container">
    <h1>Books from Brick City Depot</h1>
    <br/>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-lnb2-description-tab" data-toggle="tab" href="#nav-lnb2-description" role="tab" aria-controls="nav-lnb2-description" aria-selected="true">Description</a>
        <a class="nav-item nav-link" id="nav-lnb2-reviews-tab" data-toggle="tab" href="#nav-lnb2-reviews" role="tab" aria-controls="nav-lnb2-reviews" aria-selected="false">Reviews</a>
        <a class="nav-item nav-link" id="nav-lnb2-companion-files-tab" data-toggle="tab" href="#nav-lnb2-companion-files" role="tab" aria-controls="nav-lnb2-companion-files" aria-selected="false">Companion Files</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-lnb2-description" role="tabpanel" aria-labelledby="nav-lnb2-description-tab">
        <br/>
        <br/>
        <div class="float-left mr-4">
          <%= image_tag('lego_neighborhood_2.jpg', class: 'book-medium-img') %>
        </div>
        <div>
          <h2>The Lego Neighborhood Book 2</h2>
          <p>
            Our second book is available for order on
            <a href="https://nostarch.com/legoneighborhood2" target="_blank">nostarch.com</a>, on
            <a href="https://www.amazon.com/LEGO-Neighborhood-Book-Build-Your/dp/1593279302/ref=sr_1_1?ie=UTF8&qid=1524599266&sr=8-1&keywords=lego+neighborhood+book+2" target="_blank">Amazon.com</a>, and on
            <a href="https://www.barnesandnoble.com/w/the-lego-neighborhood-book-2-brian-lyles/1128234509?ean=9781593279301" target="_blank">Barnes &amp; Noble</a>. Enter the fantastical world of model building. The LEGO Neighborhood Book 2 is a full-color guide
            to creating intricate, bustling LEGO neighborhoods, and cities. In this second volume, a follow up to the runaway best-selling first volume, readers learn even more ways to create classic architectural styles using only LEGO bricks. In addition to
            creating entire buildings, LEGO model-building experts Brian and Jason Lyles also show readers how to create interesting architectural features like cornices, false fronts, porches, and detailed interiors and furniture. With instructions for three
            buildings and many smaller builds, The LEGO Neighborhood Book 2 is sure to provide hours of building fun and inspiration for readers of all ages.
          </p>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-lnb2-reviews" role="tabpanel" aria-labelledby="nav-lnb2-reviews-tab">
        <br/>
        <br/>
        <h2>The reviews are in!</h2>
        <div class="row">
          <div class="col-md-12">
            <p>
              Check out some of these reviews the second Neighborhood book has been getting!
            </p>
            <br/>
            <p>
              <a href="http://brickarchitect.com/2018/review-lego-neighborhood-book-2/" target="_blank">http://brickarchitect.com/2018/review-lego-neighborhood-book-2/</a>
              <br/>
              <a href="http://bricksfanz.com/the-lego-neighborhood-book-2-review/" target="_blank">http://bricksfanz.com/the-lego-neighborhood-book-2-review/</a>
              <br/>
              <a href="https://geekdad.com/2018/11/2018-lego-idea-book-roundup-from-no-starch-press/" target="_blank">https://geekdad.com/2018/11/2018-lego-idea-book-roundup-from-no-starch-press/</a>
            </p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-lnb2-companion-files" role="tabpanel" aria-labelledby="nav-lnb2-companion-files-tab">
        <br/>
        <br/>
        <h2>Lego Neighborhood Book 2 companion files</h2>
        <br/>
        <p>
          We've included some companion files on this page to assist you in building the main model in the book. There are 2 parts lists available to you; a checklist style list that opens up in your browser and a XML file that you can use to upload the
          complete parts list to Bricklink's wanted list feature. If you're not familiar with how that works, or Bricklink, check out the
          <%= link_to 'BCD Tutorial', new_user_tutorial_path %>
          and the
          <%= link_to 'BrickLink Tutorial', "http://www.bricklink.com/help.asp?topicID=35" %>
          Enjoy!
        </p>
        <br/>
        <div class="row">
          <div class="col-md-4">
            <strong>Corner Townhouse Files</strong>
            <p>
              <i class="far fa-file-alt"></i>
              <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/corner_townhouse_bricklink.xml" download="download" target="_blank">Bricklink XML</a>
              <br/>
              <i class="far fa-file-alt"></i>
              <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/corner_townhouses.html" download="download" target="_blank">Parts List</a>
            </p>
          </div>
        </div>
      </div>
      <br/>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-lnb1-description-tab" data-toggle="tab" href="#nav-lnb1-description" role="tab" aria-controls="nav-lnb1-description" aria-selected="true">Description</a>
          <a class="nav-item nav-link" id="nav-lnb1-reviews-tab" data-toggle="tab" href="#nav-lnb1-reviews" role="tab" aria-controls="nav-lnb1-reviews" aria-selected="false">Reviews</a>
          <a class="nav-item nav-link" id="nav-lnb1-companion-files-tab" data-toggle="tab" href="#nav-lnb1-companion-files" role="tab" aria-controls="nav-lnb1-companion-files" aria-selected="false">Companion Files</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-lnb1-description" role="tabpanel" aria-labelledby="nav-lnb1-description-tab">
          <br/>
          <br/>
          <div class="float-left mr-4">
            <%= image_tag('lego_neighborhood_book.png', class: 'book-medium-img') %>
          </div>
          <div>
            <h2>The Lego Neighborhood Book</h2>
            <p>
              Our first book is available for order on
              <a href='http://www.nostarch.com/legoneighborhood' target="_blank">nostarch.com</a>, on
              <a href='http://www.amazon.com/The-LEGO-Neighborhood-Book-Build/dp/1593275714/ref=sr_1_1?ie=UTF8&qid=1396966249&sr=8-1&keywords=lego+neighborhood+book' target="_blank">Amazon.com</a>, and on
              <a href='http://www.barnesandnoble.com/w/the-lego-neighborhood-book-brian-lyles/1118967430?ean=9781593275716' target="_blank">Barnes & Noble</a>. The LEGO Neighborhood Book is your guide to creating incredible LEGO buildings. Snap together a few
              apartments, shops, houses, and soon you'll have a whole neighborhood! Inside these pages, you'll learn techniques for recreating classic architectural styles in LEGO bricks, like San Francisco's famous Victorians and New York City's brownstones. LEGO
              model-building experts Brian and Jason Lyles will teach you how to create interesting architectural features like cornices and false fronts, and how to construct porches and detailed interiors. With full color instructions for three multistory houses
              and many smaller builds (like a reclining armchair and an old-timey lamppost), The LEGO Neighborhood Book will give you hours of building fun. What will your neighborhood look like? We'll teach you our process for creating our modulars, and give you
              the instructions on how to make the corner building on the front to boot.
            </p>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-lnb1-reviews" role="tabpanel" aria-labelledby="nav-lnb1-reviews-tab">
          <br/>
          <br/>
          <h2>The reviews are in!</h2>
          <div class="row">
            <div class="col-md-6">
              <p>
                Check out some of these reviews the first Neighborhood book has been getting!
              </p>
              <br/>
              <p>
                <a href="http://brickset.com/article/12076/the-lego-neighborhood-book" target="_blank">http://brickset.com/article/12076/the-lego-neighborhood-book</a>
                <br/>
                <a href="http://bricknerd.com/home/review-the-lego-neighborhood-book-18-2014" target="_blank">http://bricknerd.com/home/review-the-lego-neighborhood-book-18-2014</a>
                <br/>
                <a href="http://matthewhelmke.net/2014/09/the-lego-neighborhood-book/" target="_blank">http://matthewhelmke.net/2014/09/the-lego-neighborhood-book/</a>
                <br/>
                <a href="http://www.thebrickfan.com/the-lego-neighborhood-book-review/" target="_blank">http://www.thebrickfan.com/the-lego-neighborhood-book-review/</a>
                <br/>
                <a href="http://geekdad.com/2014/08/build-lego-neighborhood/" target="_blank">http://geekdad.com/2014/08/build-lego-neighborhood/</a>
                <br/>
                <a href="http://www.hispabrickmagazine.com/en/content/review-lego-neighborhood-book" target="_blank">http://www.hispabrickmagazine.com/en/content/review-lego-neighborhood-book</a>
                <br/>
                <a href="http://rebrickable.com/blog/2014/review-lego-neighborhood-book" target="_blank">http://rebrickable.com/blog/2014/review-lego-neighborhood-book</a>
                <br/>
                <a href="http://www.alegoaday.com/lego-neighborhood-book-review/" target="_blank">http://www.alegoaday.com/lego-neighborhood-book-review/</a>
                <br/>
                <a href="http://bggafterdark.biogamergirl.com/2014/09/the-lego-neighborhood-book-book-review.html" target="_blank">http://bggafterdark.biogamergirl.com/2014/09/the-lego-neighborhood-book-book-review.html</a>
                <br/>
                <a href="http://brainpowerboy.com/the-lego-neighborhood-book/" target="_blank">http://brainpowerboy.com/the-lego-neighborhood-book/</a>
                <br/>
                <a href="http://www.javajohnz.com/2014/09/the-lego-neighborhood-book-review.html" target="_blank">http://www.javajohnz.com/2014/09/the-lego-neighborhood-book-review.html</a>
              </p>
            </div>
            <div class="col-md-6">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/fY_E5YKmKm8?autoplay=0&origin=https://brickcitydepot.com"></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-lnb1-companion-files" role="tabpanel" aria-labelledby="nav-lnb1-companion-files-tab">
          <br/>
          <br/>
          <h2>Lego Neighborhood Book 1 companion files</h2>
          <br/>
          <p>
            We've included some companion files on this page to assist you in building the models in the book. Each of the larger models has 2 parts lists available to you, a checklist style list that opens up in your browser and a XML file that you can use to
            upload the complete parts list to Bricklink's wanted list feature. If you're not familiar with how that works, or Bricklink, check out the
            <%= link_to 'BCD Tutorial', new_user_tutorial_path %>
            and the
            <%= link_to 'BrickLink Tutorial', "http://www.bricklink.com/help.asp?topicID=35" %>
            We've also included a PDF with instructions on how to build a delivery truck that fits into the Corner Drug Stores delivery bay. Parts lists for the truck are also included. Enjoy!
          </p>
          <br/>
          <div class="row">
            <div class="col-md-4">
              <strong>Canal Ring House Files</strong>
              <p>
                <i class="far fa-file-alt"></i>
                <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/canal_ring_house_bricklink.xml" download="download" target="_blank">Bricklink XML</a>
                <br/>
                <i class="far fa-file-alt"></i>
                <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/canal_ring_house_parts_list.html" download="download" target="_blank">Parts List</a>
              </p>
            </div>
            <div class="col-md-4">
              <strong>Colonial Row House Files</strong>
              <p>
                <i class="far fa-file-alt"></i>
                <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/colonial_row_house_bricklink.xml" download="download" target="_blank">Bricklink XML</a>
                <br/>
                <i class="far fa-file-alt"></i>
                <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/colonial_row_house_parts_list.html" download="download" target="_blank">Parts List</a>
              </p>
            </div>
            <div class="col-md-4">
              <strong>Parisian Row House Files</strong>
              <p>
                <i class="far fa-file-alt"></i>
                <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/parisian_row_house_bricklink.xml" download="download" target="_blank">Bricklink XML</a>
                <br/>
                <i class="far fa-file-alt"></i>
                <a href="https://s3.amazonaws.com/brickcitydepot-assets/book_files/parisian_row_house_parts_list.html" download="download" target="_blank">Parts List</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Residential Base Files</strong>
              <p>
                <i class="far fa-file-alt"></i>
                <a href="https://s3.amazonaws.com/brickcitydepot-assets/book_files/residential_building_bricklink.xml" download="download" target="_blank">Bricklink XML</a>
                <br/>
                <i class="far fa-file-alt"></i>
                <a href="https://s3.amazonaws.com/brickcitydepot-assets/book_files/residential_building_parts_list.html" download="download" target="_blank">Parts List</a>
              </p>
            </div>
            <div class="col-md-4">
              <strong>Corner Drug Store Files</strong>
              <p>
                <i class="far fa-file-alt"></i>
                <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/corner_drug_store_bricklink.xml" download="download" target="_blank">Bricklink XML</a>
                <br/>
                <i class="far fa-file-alt"></i>
                <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/corner_drug_store_parts_list.html" download="download" target="_blank">Parts List</a>
              </p>
            </div>
            <div class="col-md-4">
              <strong>Delivery Truck Files</strong>
              <p>
                <i class="far fa-file-alt"></i>
                <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/delivery_truck_bricklink.xml" download="download" target="_blank">Bricklink XML</a>
                <br/>
                <i class="far fa-file-alt"></i>
                <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/delivery_truck_parts_list.html" download="download" target="_blank">Parts List</a>
                <br/>
                <i class="far fa-file-pdf"></i>
                <a href="https://s3.amazonaws.com/brickcitydepot-assets/book_files/delivery_truck.pdf" download="download" target="_blank">Instructions PDF</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>