- content_for :head do
  <script>
  $(document).ready(function() {
  $('#homepage_slideshow').cycle({
  timeout: 12000,
  pause: 1,
  prev: '#prev',
  next: '#next'
  });
  });
  </script>
= h1("Welcome to Brick City Depot")
%br
%p At Brick City Depot, we focus on making affordable, high quality instructions to help you expand your Lego&reg; collection and building skills.
%br
%div.main_item_div#homepage_slideshow
  - @updates.each do |item|
    .main_item
      = link_to image_tag(item.image), item.link, :class => 'image_link' if item.image?
.clear
.prev_next_centered
  &nbsp;<a id='prev' href="#">Prev</a>&nbsp; | &nbsp;<a id='next' href="#">Next</a>
%br
.featured_item.float_right
  - product = featured_item
  .news_item_header.drop_shadow
    %h3 Featured Product
  .news_item.drop_shadow
    - unless product.nil?
      .news_item_image
        = link_to(image_tag(product.main_image.medium), {:controller => :store, :action => :product_details, :product_code => product.product_code, :product_name => product.name.to_snake_case}, :class => 'image_link') unless product.main_image.blank?
      %br
      %b= "#{product.product_code} #{product.name}"
      %br
      = snippet(product.description)
      = link_to "More", {:controller => :store, :action => :product_details, :product_code => product.product_code, :product_name => product.name.to_snake_case}
.under_construction.float_left
  .news_item_header.drop_shadow
    %h3 Hitting the shelves in September!
  .news_item.drop_shadow
    .centered_text
      = link_to(image_tag('lego_neighborhood_book.png'), "/books")
    %br
    Check it out, our first book! Published by No Starch Press, and hitting the shelves on September 25th, it will be
    available all over the internet, and also in Barnes & Noble stores. We'll teach you our process for creating our
    modulars, and give you the instructions on how to make the corner building on the front to boot. Preorder now on
    <a href="http://amzn.to/1qlDH26" target='_blank'>Amazon</a>, <a href="http://www.nostarch.com/legoneighborhood/" target='_blank'>No Starch</a> or
    <a href="http://www.barnesandnoble.com/w/the-lego-neighborhood-book-brian-lyles/1119972426" target='_blank'>Barnes & Noble</a>.
    %a{href: '/books'} Learn More
.clear
%br

