%br
%br
<a name="top"></a>
%p 1. <a href="#where_to_purchase">Where to purchase pieces</a>
%p 2. <a href="#colors">Colors</a>
%p 3. <a href="#part_numbers">Part Numbers</a>
%p 4. <a href="#tips">Tips</a>
%p 5. <a href="#parts_lists">How to use the parts lists</a>

= h1("New User Tutorial")
%br
<a name="where_to_purchase"></a>
%h2 1. Where to purchase pieces
%br
%p
  Lego.com has a PAB (Pick-A-Brick) feature on their website where you can purchase certain pieces in certain colors. Lego
  does not offer all the pieces and all the colors that have been available in the past. Here is the link to Lego’s pick a
  brick store:
  %a{:href => "http://shop.lego.com/pab/", :target => '_blank'} http://shop.lego.com/pab
  It might be helpful to start assembling pieces using the Lego PAB
  because of the large selection, and then move to the aftermarket to finish assembling the pieces.
%br
%p
  Bricklink.com is a website where you can choose from thousands of sellers, and you can find just about anything that Lego
  has ever released. Many of the pieces found in our instructions cannot be bought from lego.com but can be found on Bricklink
  in plentiful quantities. Here is a link to a helpful user guide to get you started:
  %a{:href => "http://www.bricklink.com/help.asp?topicID=35", :target => '_blank'} Bricklink New User Tutorial
  Shop around a little bit to get a good idea of how much different bricks in different colors are going to cost you.
  %br
  %br
  <a href="#top">top</a>
%br
<a name="colors"></a>
%h2 2. Colors
%br
%p
  The names of colors will vary between different sources. The colors that are listed on our parts list correspond to the
  names on Bricklink.com which can be seen here:
  %a{:href => "http://www.bricklink.com/catalogColors.asp", :target => '_blank'} Bricklink Color Guide
  Here is a comparison color chart that shows the difference between the official Lego color names/numbers and the aftermarket
  color names/numbers:
  %a{:href => "http://peeron.com/inv/colors", :target => '_blank'} Peeron Color Guide
  We use the aftermarket names in our parts lists because we feel you’re much more likely to be able to assemble all the parts
  using aftermarket sources like bricklink.com. You might be looking for parts at Lego’s PAB and not see any colors marked as
  “Light Bluish Gray”. That’s because Lego refers to this color as “Medium Stone”. Consult the
  %a{:href => "http://peeron.com/inv/colors", :target => '_blank'} Peeron Color Guide
  to learn the differences.
  %br
  %br
  <a href="#top">top</a>
%br
<a name="part_numbers"></a>
%h2 3. Part Numbers
%br
%p
  The part numbers listed in the parts list correspond to the numbers on
  %a{:href => "http://www.bricklink.com", :target => '_blank'} bricklink.com
  , and in many cases also correspond to Lego’s Design ID. Many of the pieces that Lego makes have a 4-5 digit number on them
  and that is generally the number given to the piece. Lego PAB uses an element ID and a design ID. The Design ID usually
  corresponds to the part number we use in our parts list. The Element ID lines up with the numbers you see next to parts
  in the parts list in the back of official Lego instruction booklets. If you want to use lego.com to buy the pieces from
  the parts list you should try typing in the number of the piece in the box that says “Design ID”. Or search for it in
  their categories. If you can’t find it, they might not be currently offering that piece; check Bricklink. In some cases,
  the numbers we give might have letters in it; 2412b for example. You might want to start by searching for ‘2412’. 2412b
  denotes a different version of 2412 than the original version. In most cases, these parts are completely interchangeable,
  and some Bricklink sellers won’t know or note the difference.
  %br
  %br
  <a href="#top">top</a>
%br
<a name="tips"></a>
%h2 4. Tips
%br
%ul
  %li
    Before rushing out to buy all the pieces necessary, look over the instructions to see where certain pieces go. Certain
    pieces are hidden in the model and it won’t matter what color you choose. Other times you might want to change the color
    of something on the model. For instance: you might want a red stripe to go around the train station instead of the dark
    green one that is in the instructions.
  %li
    Change the color of the model to suit your needs. You like the glass delivery truck but you want yours to be red, instead
    of brown. Look at the parts list and exchange brown bricks for red.
  %li
    Sometimes using a color that is close will do the trick like using light grey instead of light bluish grey.
  %li
    You don’t necessarily have to use the exact same pieces we do. Sometimes the number of studs is more important than the
    particular bricks that are used to achieve that stud length. For example, we may show using a 1x8 brick in a particular
    situation. If it isn’t structurally important to use a 1x8 brick and you need to conserve 1x8 bricks, or you’re out of
    1x8 bricks, see if you can substitute 2 1x4 bricks, or a 1x6 and a 1x2.
  %li
    When making our models we strive to make sure that all pieces are readily available for purchase on
    %a{:href => "http://www.bricklink.com", :target => '_blank'} bricklink.com.
    Brick City Depot cannot guarantee that they will always be available. If they aren’t available, look for close substitutes
    that will achieve the same effect.
  %li
    Lastly, we are human! Chances are you might find something in our instructions or parts list that doesn’t make sense
    or is flat out wrong. Please don’t get frustrated and give up! If you are having a hard time understanding some part of
    the instructions or parts list, you might not be the only one. We want to take the time to make sure that all of what
    we sell is as clear as we can make it. Please feel free to contact us at
    %a{:href => "mailto:service@brickcitydepot.com"} service@brickcitydepot.com
    for clarification, or to report errors. If we agree with you that something was confusing, we will fix it for future
    users of the instructions, and get you an updated copy of the instructions or parts list, if you wish.
  %br
  %br
  <a href="#top">top</a>
%br
<a name="parts_lists"></a>
%h2 5. How to use the parts lists
%br
%p
  With each set of instructions you buy from us, you get 2 parts lists. One is an html based parts list, with a .html file
  extension. Double-click on the file and it will open in your default internet browser. The other is an XML file with a
  \.xml file extension that has text in a format that Bricklink understands. You can use this text to easily upload your
  wanted list to Bricklink. Use of each type of parts list is covered below.
%br
%h3 The XML parts list
%br
%p
  If you open up the xml parts list, it probably won't mean much to you unless you're familiar with the XML format. The good
  news is that Bricklink understands this format and you can use the text in this file to upload the parts needed for the
  instructions you purchased. First, make sure you open this file in a plain text editor. In Windows, this means Notepad
  or Wordpad. Mac users can use TextEdit. Make sure you don't use Microsoft Word! Word tends to add characters in the
  background to try and be helpful, but this will end up messing up the xml and makes it so that Bricklink will no longer
  understand it. Open the file with your plain text editor, then select all text and copy it to the clipboard.
  (Ctrl-C for Windows, Cmd-C for Mac) Now, go to this page on Bricklink:
  %a{:href => "http://www.bricklink.com/wantedXML.asp", :target => '_blank'} http://www.bricklink.com/wantedXML.asp
  Now, let's paste that xml into the text field you see.
  %br
  %br
  #bl_wanted_list_form
    = image_tag 'wanted_upload_form.png'
  %br
%p
  Submit the form, and you'll be taken to another page where you can verify the items before they're added to your wanted list.
  Verify the items with the submit button at the bottom of the screen. Now that you've added the items to your wanted list,
  it's time to go shopping for the parts! In the navigation tabs at the top of the screen, you'll see a tab for 'By Shop'.
  %br
  %br
  = image_tag 'wanted_by_shop_tab.png', :width => '700px'
  %br
  %br
  Click on this tab and you'll be taken to a screen where you can start to shop for the necessary parts by store. At the top
  of the list will be the stores that can do the best job of helping you with your wanted list. Make sure to shop around because
  prices can vary greatly from one store to another. We like to open several tabs in our browser at once and check the top 5
  or 6 stores to see who has the best prices on the pieces we need. Happy hunting!
%br
%h3 The HTML parts list
%br
%p
  The HTML parts list has images of each of the pieces you will need, along with descriptions, part numbers, quantities,
  color names and links to where you can find the parts on Bricklink. A very useful feature for determining what pieces you
  already have, and what you need, is the text fields in the right-most column of the parts list table. Use these text fields
  to increment/decrement the quantities of the pieces you need. When you have collected all the pieces
  you need for a given part/color combination, set the quantity needed to 0. When you tab out of the quantity needed field,
  the row for the given part/color combination will turn green to reflect that you have gathered all the pieces you need for
  that particular part/color combination.
%br
#green_highlighted_row_image
  = image_tag 'highlighted_row.png', :width => '700px'
%br
%p
  After you have updated quantities for all the parts you already have, you will probably want to upload the remaining parts to
  your Bricklink wanted list. Using the form at the bottom of the parts list, this is as easy as cake. You are given 2 options
  when assembling your custom wanted list. If you want to upload the wanted list to a Bricklink wanted list other than your
  main wanted list, use the text field labeled 'ID # of your Wanted List' to enter the numeric ID of your wanted list. Leaving
  this field blank will mean the generated parts list will be uploaded to your Main wanted list. You can also choose which condition
  you want your parts to be in. The default is new, but you can select 'New or Used' instead. Selecting 'New' means each item in
  your wanted list will specify that you want the item in new condition only. Selecting 'New or Used' will not specify a condition, which can make
  it easier to find some parts. There are a lot of reputable Bricklink sellers who sell decent used parts, although there are
  a few bad seeds that will sell used legos that look like they've been chewed on. We prefer new, but will buy used if necessary
  to complete a model. When you're ready, submit the form by clicking the 'Assemble Bricklink XML' button. This will look at all the
  part/color combinations you updated and determine what you still need. It will then assemble custom XML for you to upload to
  Bricklink and display it in a textbox below the button.
  %br
  %br
  #bricklink_xml_generator
    = image_tag 'bricklink_xml_generator.png'
  %br
  %br
  The text is already selected, just copy the text
  (Ctrl-C for Windows, Cmd-C for Mac) and paste it in the text field on this page:
  %a{:href => "http://www.bricklink.com/wantedXML.asp", :target => '_blank'} http://www.bricklink.com/wantedXML.asp
%br
#bl_wanted_list_form
  = image_tag 'wanted_upload_form.png'
%br
%p
  After you paste the text into that field, submit the form and you will go to a screen where you will be given a chance to verify
  before you add the items to your wanted list. Verify the items with the submit button at the bottom of the screen. Now that
  you've added the items to your wanted list, it's time to go shopping for the parts! In the navigation tabs at the top of the
  screen, you'll see a tab for 'By Shop'.
  %br
  %br
  = image_tag 'wanted_by_shop_tab.png', :width => '700px'
  %br
  %br
  Click on this tab and you'll be taken to a screen where you can start to shop for the necessary parts by store. At the top
  of the list will be the stores that can do the best job of helping you with your wanted list. Make sure to shop around because
  prices can vary greatly from one store to another. We like to open several tabs in our browser at once and check the top 5
  or 6 stores to see who has the best prices on the pieces we need. Happy hunting!
  %br
  %br
  <a href="#top">top</a>
  %br