<div class="card">
  <div class="card-header">
    Listing colors
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-auto mr-auto">
            <%= paginate @colors %>
          </div>
          <div class="col-auto">
            <%= link_to 'New Color', new_color_path, class: 'btn btn-primary mb-3' %>
          </div>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="table-secondary">
              <th class="align-middle text-center"><%= sort_link(@q, :name) %></th>
              <th class="align-middle text-center"><%= sort_link(@q, :ldraw_id, 'LDraw ID') %></th>
              <th class="align-middle text-center"><%= sort_link(@q, :bl_name, 'Bricklink Name') %></th>
              <th class="align-middle text-center"><%= sort_link(@q, :bl_id, 'Bricklink ID') %></th>
              <th class="align-middle text-center"><%= sort_link(@q, :lego_name) %></th>
              <th class="align-middle text-center"><%= sort_link(@q, :lego_id, 'Lego ID') %></th>
              <th class="align-middle text-center">LDraw RGB</th>
              <th style="width: 10%;"></th>
            </tr>
          </thead>
          <tbody>
            <% @colors.each do |color| %>
              <tr>
                <td class="align-middle text-center">
                  <%= link_to color.name, color %>
                </td>
                <td class="align-middle text-center">
                  <%= color.ldraw_id %>
                </td>
                <td class="align-middle text-center">
                  <%= color.bl_name %>
                </td>
                <td class="align-middle text-center">
                  <%= color.bl_id %>
                </td>
                <td class="align-middle text-center">
                  <%= color.lego_name %>
                </td>
                <td class="align-middle text-center">
                  <%= color.lego_id %>
                </td>
                <td style="background-color: #<%= color.ldraw_rgb %>">
                </td>
                <td class="align-middle text-center">
                  <%= link_to raw('<i class="far fa-edit"></i>'), edit_color_path(color) %>
                  &nbsp;
                  <%= link_to raw('<i class="far fa-trash-alt"></i>'), color, data: {confirm: 'Are you sure?'}, method: :delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @colors %>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            Search
          </div>
          <div class="card-body">
            <%= search_form_for @q do |f| %>
              <div class="form-group">
                <%= f.label :name_or_bl_name_or_lego_name_cont, 'Name/BrickLink Name/Lego Name contains' %>
                <%= f.search_field :name_or_bl_name_or_lego_name_cont, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :ldraw_id_or_bl_id_or_lego_id_eq, 'LDraw/Bricklink/Lego ID equals' %>
                <%= f.search_field :ldraw_id_or_bl_id_or_lego_id_eq, class: "form-control" %>
              </div>
              <br />
              <%= f.submit 'Search', class: 'btn btn-primary btn-block mb-1' %>
              <%= link_to "Clear Search", request.path, class:"btn btn-warning btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
