<%= nested_form_for [:admin, parts_list], html: { multipart: true } do |form| %>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <b>Parts List</b>
        </div>
        <div class="card-body">
          <div class="form-group">
            <%= form.label :name, "Name", class: 'form-label' %>
            <%= form.text_field :name, placeholder: "Primary Parts List", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :name, "Product", class: 'form-label' %>
            <%= form.collection_select :product_id, Product.instructions.order(:product_code), :id, :code_and_name, { include_blank: true }, class: 'form-control' %>
          </div>
          <% if parts_list.persisted? %>
            <div class="form-check">
              <%= form.check_box :approved, {checked: parts_list.approved, class: 'form-check-input'},1,0 %>
              <%= form.label :approved, "Approved", class: 'form-check-label' %>
            </div>
          <% end %>
          <div class="form-group mt-4">
            <%= form.submit 'Save', data: { disable_with: 'Processing...' }, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <% if parts_list.persisted? %>
        <% if parts_list.errors.present? %>
          <% parts_list.lots.each do |lot| %>
            <% if lot.errors.present? %>
              <li>
                <span class="text-danger">
                  <%= "#{lot.part_name} #{lot.errors.full_messages[0]}" %>
                </span>
              </li>
            <% end %>
          <% end %>
        <% end %>
        <div class="card">
          <div class="card-header">
            Lots
          </div>
          <div class="card-body">
            <%= form.fields_for :lots, form.object.lots.includes(:part, :color, element: :part).order("parts.name ASC, colors.bl_name ASC") %>
            <%= form.link_to_add "Add Lot", :lots, class: "btn btn-primary mt-2" %>
          </div>
        </div>
      <% else %>
        <%= form.label :file, 'Upload an LDR or BrickLink XML', class: 'form-label' %>
        <br />
        <%= form.file_field :file %>
        <%= form.hidden_field :file_cache %>
      <% end %>
    </div>
  </div>
<% end %>
