<div class="row mt-4 mb-2">
  <div class="col-auto mr-auto">
    <h1><%= "#{@parts_list.product_name} - #{@parts_list.name}" %></h1>
  </div>
</div>
<div class="row">
  <div class="col-7">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <b class="mt-2">
          Parts List
          <% if @parts_list.approved? %>
            <span class='text-success'>APPROVED</span>
          <% else %>
            <span class='text-danger'>NOT APPROVED</span>
          <% end %>
        </b>
        <%= link_to 'Edit', edit_admin_parts_list_path(@parts_list), class: 'btn btn-primary' %>
      </div>
      <div class="card-body">
        <% if @parts_list.bricklink_xml.present? %>
          <div class="card">
            <div class="card-header">
              <p>
                <span class='font-weight-bold'>Initial BrickLink XML</span> (for troubleshooting)
                <a data-toggle="collapse" href="#bricklink_xml" role="button" aria-expanded="false" aria-controls="bricklink_xml">
                  Toggle
                </a>
              </p>
            </div>
            <div id="bricklink_xml" class="card-body collapse show">
              <pre>
                <%= Nokogiri::XML(@parts_list.bricklink_xml).root %>
              </pre>
            </div>
            <input type="text" value="<%= @parts_list.bricklink_xml %>" id="hidden-bricklink-xml" hidden />
          </div>
        <% end %>

        <% if @parts_list.ldr.present? %>
          <div class="card">
            <div class="card-header">
              <p class='font-weight-bold'>
                LDR
                <a data-toggle="collapse" href="#ldr" role="button" aria-expanded="false" aria-controls="ldr">
                  Toggle
                </a>
              </p>
            </div>
            <div id="ldr" class="card-body collapse show">
              <%= simple_format(@parts_list.ldr) %>
            </div>
          </div>
        <% end %>

        <% if @parts_list.elements.exists? %>
          <div class="card">
            <div class="card-header">
              <p>
                <span class='font-weight-bold'>Initial Parts Hash</span> (for troubleshooting)
                <a data-toggle="collapse" href="#parts" role="button" aria-expanded="false" aria-controls="parts">
                  Toggle
                </a>
              </p>
            </div>
            <div id="parts" class="card-body collapse show">
              <%== ap(@parts_list.parts, indent: -2, plain: true) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to 'Back to Index', admin_parts_lists_path %>
  </div>
  <div class="col-5">
    <div class="card">
      <div class="card-header">
        <p>
          If "Source" and "Parsed" numbers don't match, there's a problem and you shouldn't approve this parts list yet.
        </p>
        <p>
          <span class='font-weight-bold'>Total Lots (Source/Parsed): </span> <%= "(#{@source_lot_count}/#{@parts_list.lots.count})" %><br />
          <span class='font-weight-bold'>Total Parts (Source/Parsed): </span> <%= "(#{@source_total_quantity}/#{@parts_list.parts_quantity})" %>
        </p>
      </div>
      <div class="card-body">
        <% @lots.each do |lot| %>
          <div class="card mt-2 p-2">
              <div class="row no-gutters">
                <div class="col-3">
                  <%= image_tag(lot.thumb_image, class: 'image-fluid') %>
                </div>
                <div class="col-9 px-2">
                  <div class="card-block px-2">
                    <h4 class="card-title"><%= "#{lot.part_ldraw_id} :: #{lot.part_name}" %></h4>
                    <p class="card-text"><span class="font-weight-bold">Color:</span> <%= "#{lot.color_ldraw_id} :: #{lot.color_bl_name}" %></p>
                    <p class="card-text"><span class="font-weight-bold">Quantity:</span> <%= lot.quantity %></p>
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- <a href="#" onclick="copyToClipboard(); $(this).text('Copied!');">Copy to Clipboard</a> -->
<script type="text/javascript">
  function copyToClipboard() {
    /* Get the text field */
    var copyText = document.getElementById("hidden-bricklink-xml");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */

    /* Copy the text inside the text field */
    navigator.clipboard.writeText(copyText.value);
  }
</script>
