<p>
  <b>Title:</b>
  <%= @update.title %>
</p>
<br/>
<p>
  <b>Description:</b>
  <%= @update.description %>
</p>
<br/>
<p>
  <b>Body:</b>
  <%= @update.body %>
</p>
<br/>
<p>
  <b>Link:</b>
  <%= @update.link %>
</p>
<br/>
<p>
  <b>Image: (This is basically a preview. If it doesn't look good here. It won't look good on the front page.)</b>
</p>
<div class="main_item_div" id="homepage_slideshow">
  <div class="main_item">
    <% if @update.image? %>
      <% if @update.image_processing? %>
        <br/>
        <br/>
        <br/>
        <b>
          Image is currently being processed. Check back in a few seconds.
        </b>
      <% else %>
        <%= link_to(image_tag(@update.image), @update.link) %>
      <% end %>
    <% end %>
  </div>
</div>
<br/>
<%= form_for @update do |f| %>
<% if @update.live? %>
  <div class="field">
    <b class="happy">Update is live</b>
    <%= f.check_box :live, {:checked => @update.live, :hidden => true},0,1 %>
  </div>
  <div class="actions">
    <%= f.submit 'Disable Update' %>
  </div>
<% else %>
  <div class="field">
    <b class="sad">Update is disabled</b>
    <%= f.check_box :live, {:checked => @update.live, :hidden => true},0,1 %>
  </div>
  <div class="actions">
    <%= f.submit 'Enable Update' %>
  </div>
<% end %>
<% end %>
<br/>
<%= link_to 'Edit', edit_update_path(@update) %>
\|
<%= link_to 'Back', updates_path %>