Hello
<%= @user.email %>
<br/>
<br/>
Thank you for your recent order with Brick City Depot. We just wanted to follow up and make sure that everything was to your satisfaction. If you have any questions or concerns, please feel free to email us at service@brickcitydepot.com so we can
help you.
<br/>
<br/>
Based on your purchase, here are some other items we think you might like:
<br/>
<br/>
<br/>
<table bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
  <tr>
    <td align="center" bgcolor="#ebebeb" style="background-color: #ebebeb;" valign="top">
      <!-- 600px container (white background) -->
      <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="540">
        <tr>
          <% @products_to_recommend.each do |product| %>
            <td align="center" style="vertical-align:top" valign="top" width="180">
              <a href="<%= @host %>/<%= product.product_code %>/<%= product.name.to_snake_case %>">
                <img alt="<%= product.name %>" border="0" hspace="0" src="<%= @host %><%= product.images[0].url.thumb %>" style="vertical-align:top; padding-bottom: 25px;" vspace="0"/>
              </a>
              <br/>
            <a href="<%= "{@host}/#{product.product_code}/#{product.name.to_snake_case}" %>" <%= product.name %></a>
            <br/>
            <%= number_to_currency(product.price) %>
          </td>
        <% end %>
      </tr>
    </table>
  </td>
</tr>
</table>
<br/>
<br/>
Thank you for your business.
<br/>
Brick City Depot
<br/>
<br/>
<br/>