Hello #{@user.email}
%br
%br
Thank you for placing an order with Brick City Depot. We're glad you chose to purchase from us and hope
we can bring you the best experience possible.
%br
Order Details:
%br
%br
Confirmation ID: #{@order.request_id}
%br
%br
Items you purchased:
%br
%ul
  - @order.line_items.each do |line_item|
    %li #{line_item.product.product_code} #{line_item.product.name}
%br
- unless @link_to_downloads.blank?
  To access instructions, follow this link:
  = link_to 'Downloads', @link_to_downloads
  %br
%br
If you are new to custom Lego instructions or Brick City Depot, check out our #{link_to 'New User Tutorial', "#{@host}/new_user_tutorial"} to help you get started. Let's get building!
%br
- if @order.has_physical_item?
  We will be packaging up and getting your order ready to ship within the next 1-2 days. The address we have for you is:
  %br
  %br
  = @order.address_name
  %br
  #{@order.first_name} #{@order.last_name}
  %br
  = @order.address_street_1
  %br
  - if @order.address_street_2?
    = @order.address_street_2
    %br
  #{@order.address_city}, #{@order.address_state} #{@order.address_zip}
  %br
  = @order.address_country
  %br
  %br
  If this is not correct, please email us immediately at service@brickcitydepot.com Please give us your order confirmation
  number, your email address, and your correct shipping address.
  %br
  - if @order.address_country != 'United States'
    %br
    If you are a buyer outside the United States, please wait for another email where we will quote you additional shipping.
    Our prices only include domestic shipping.
%br

We strive to bring you quality products. Please let us know what we can do to improve our service. If you find any
errors or need any help with the instructions or parts lists, email us at service@brickcitydepot.com and let us know
how we can help you.
%br
%br
%br
Thank you for your business.
%br
Brick City Depot
%br
%br
%br

