<p>
  Hi Brick City Depot.
</p>
<p>
  I had an issue with this order:
  <br/>
  <br/>
  <b>Order Status:
  </b><%= @order.status %>
  <br/>
  <% if @third_party_receipt.present? %>
    <b><%= @third_party_receipt.source.capitalize %> Order ID:
    </b><%= @third_party_receipt.third_party_receipt_identifier %>
    <br/>
  <% else %>
    <b>Confirmation ID:
    </b><%= @order.request_id %>
    <br/>
    <b>Transaction ID:
    </b><%= @order.transaction_id %>
    <br/>
  <% end %>
  <b>Order Date:
  </b><%= @order.created_at.to_fs(:long_ordinal) %>
</p>
<p>
  This is the problem:
  <br/>
  <br/>
  <%= @comment %>
</p>
<p>
  Please address the issue for me.
  <br/>
  <br/>
  Thanks!
  <br/>
  <%= @name %>
</p>
