Hey Brian/Jason
<br/>
<br/>
Just wanted to let you know you sold a physical item and need to be thinking about boxing up that junk and shipping it out!
<br/>
<br/>
Order ID:
<%= @order.id %>
<br/>
Order Confirmation ID:
<%= @order.request_id %>
<br/>
Transaction ID:
<%= @order.transaction_id %>
<br/>
User email:
<%= @user.email %>
<br/>
Physical Items:
<ul>
  <% @order.line_items.each do |line_item| %>
    <% if line_item.product.physical_product? %>
      <li><%= "#{line_item.product.product_code} #{line_item.product.name}" %></li>
    <% end %>
  <% end %>
</ul>
<br/>
Fulfill this order and mark it as fulfilled in the order fulfillment page dealy or else you'll keep getting reminder emails until you've obeyed. (Not implemented yet)
<br/>
<br/>
Send to:
<br/>
<%= @order.address_name %>
<br/>
<%= "#{@order.first_name} #{@order.last_name}" %>
<br/>
<%= @order.address_street1 %>
<% if @order.address_street2? %>
  <br/>
  <%= @order.address_street2 %>
<% end %>
<br/>
<%= "#{@order.address_city}, #{@order.address_state} #{@order.address_zip}" %>
<br/>
<%= @order.address_country %>