<%= nested_form_for [:admin, category] do |f| %>
  <div class="row">
    <div class="col-5">
      <div class="card">
        <div class="card-header">
          <b>Category</b>
        </div>
        <div class="card-body">
          <div class="form-group">
            <%= f.label :name, class: 'form-label' %>
            <%= f.text_field :name, placeholder: "City", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :description, class: 'form-label' %>
            <%= f.text_area :description, placeholder: "Some marketing mumbo jumbo about this category...", rows: 10, class: 'form-control' %>
          </div>
          <div class="form-check">
            <%= f.check_box :ready_for_public, { checked: category.ready_for_public, class: 'form-check-input' },1,0 %>
            <%= f.label :ready_for_public, class: 'form-check-label' %>
          </div>
          <br />
          <div class="form-group">
            <% if category.image? && !category.image.blank? %>
              <%= f.label :image, "Image", class: "form-label" %>
              <br/>
              <% if category.image_cache %>
                <%= f.text_field :image_cache, :disabled => true, class: "form-control" %>
              <% else %>
                <%= f.text_field :image, :disabled => true, class: "form-control" %>
              <% end %>
            <% end %>

            <%= f.label :image, "Image", class: "form-label" %>
            <%= f.file_field :image, class: "form-control-file mt-2" %>
            <%= f.hidden_field :image_cache %>
            <% if category.image? %>
              <div class="form-check mt-2">
                <%= f.check_box :remove_image, class: "form-check-input" %>
                <%= f.label :remove_image, "Delete Image", class: "form-check-label" %>
              </div>
            <% end %>
          </div>
          <div class="form-group mt-4">
            <%= f.submit 'Save', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
