<!-- TODO: Move this somewhere proper -->
<% content_for(:head) do %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>

  <script type="module">
    import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
    window.Stimulus = Application.start()

    Stimulus.register("drag", class extends Controller {
      connect() {
        this.sortable = Sortable.create(this.element, {
          onEnd: this.end.bind(this)
        })
      }

      end(event){
        var id = event.item.dataset.id
        $.ajax({
          url: this.data.get('url').replace(':id', id),
          type: 'PATCH',
          data: {
            position: event.newIndex + 1
          }
        })
      }
    })
  </script>
<% end %>

<% if @changes_since_last_etsy_update.present? %>
  <div class="border-etsy rounded p-3">
    <h3>Changes since last update to Etsy:</h3>
    <br />
    <ul>
      <% @changes_since_last_etsy_update.each do |change| %>
        <li>
          <span class="font-weight-bold"><%= change[1].to_fs(:datetime_12) %></span> <%= change[0] %>
        </li>
      <% end %>
    </ul>
    <br />
    <%= button_to 'Update Etsy Listing', update_etsy_listing_admin_product_path(@product), data: { disable_with: raw("<i class='fa fa-cog fa-spin'></i> Updating Listing...") }, class: 'btn btn-etsy' %>
  </div>
<% end %>
<div class="row mt-4 mb-2">
  <div class="col-auto mr-auto">
    <h1><%= @product.code_and_name %></h1>
  </div>
  <div class="col-auto">
    <% if @product.base_pinterest_pinnable? %>
      <div class='d-inline-block'>
        <%= button_to 'Create Pinterest Pin', create_pinterest_pin_admin_product_path(@product), data: { disable_with: raw("<i class='fa fa-cog fa-spin'></i> Creating Pin...") }, class: 'btn btn-pinterest' %>
      </div>
    <% end %>
    <% if @product.etsy_listing_id.present? %>
      <div class='d-inline-block'>
        <%= button_to 'Delete Etsy Listing', destroy_etsy_listing_admin_product_path(@product), data: { confirm: 'Are you sure you want to remove this listing from Etsy?', disable_with: raw("<i class='fa fa-cog fa-spin'></i> Deleting Listing...") }, class: 'btn btn-danger', method: :delete %>
      </div>
    <% else %>
      <div class='d-inline-block'>
        <%= button_to 'Create Etsy Listing', create_etsy_listing_admin_product_path(@product), data: { disable_with: raw("<i class='fa fa-cog fa-spin'></i> Creating Listing...") }, class: 'btn btn-etsy' %>
      </div>
    <% end %>
    <%= link_to 'Edit', edit_admin_product_path(@product), class: 'btn btn-primary' %>
    <%= link_to 'Add Derivative Product', new_admin_product_path(:product_code => @product.product_code), class: 'btn btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-8 d-flex align-items-stretch">
    <div class="card">
      <div class="card-header">
        <b>Basics</b>
      </div>
      <div class="card-body">
        <table>
          <tr>
            <td>
              <b>Type:</b>
            </td>
            <td class="pl-3">
              <%= @product.product_type.name %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Cat/Subcat:</b>
            </td>
            <td class="pl-3">
              <%= "#{@product.category.name}/#{@product.subcategory.name}" %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Description:</b>
            </td>
            <td class="pl-3">
              <%= @product.description %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Tags:</b>
            </td>
            <td class="pl-3">
              <% @product.tag_list.each_with_index do |tag, index| %>
                <span class="badge badge-pill badge-info p-2 my-1"><%= "#{index + 1}: #{tag}" %></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Designer:</b>
            </td>
            <td class="pl-3">
              <%= @product.designer %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Featured:</b>
            </td>
            <td class="pl-3">
              <%= decorate_boolean(@product.featured?) %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Alternative Build:</b>
            </td>
            <td class="pl-3">
              <%= decorate_boolean(@product.alternative_build?) %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Ready for Public:</b>
            </td>
            <td class="pl-3">
              <%= decorate_boolean(@product.ready_for_public?) %>
            </td>
          </tr>
          <tr>
            <td>
              <b>YouTube:</b>
            </td>
            <td class="pl-3">
              <% if @product.youtube_url && !@product.youtube_url.blank? %>
                <%= "https://www.youtube.com/watch?v=#{@product.youtube_url}" %>
                <br/>
                <br />
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" height="315" width="420" frameborder="0" src="https://www.youtube.com/embed/<%= @product.youtube_url %>?rel=0"></iframe>
                </div>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <b>PDF / Parts List</b>
          </div>
          <div class="card-body">
            <table>
              <tr>
                <td>
                  <b>PDF:</b>
                </td>
                <td class="pl-2">
                  <% if @product.pdf? && !@product.pdf.blank? %>
                    <b class="happy">Present</b>
                  <% else %>
                    <b class="sad">Missing</b>
                  <% end %>
                </td>
              </tr>
              <tr style="line-height: 10px; min-height: 10px; height: 10px;"></tr>
              <tr>
                <td>
                  <b>Parts List(s):</b>
                </td>
                <td class="pl-2">
                  <% @product.parts_lists.each do |parts_list| %>
                    <%= decorate_boolean(parts_list.approved) %>
                    <%= link_to parts_list.name, admin_parts_list_path(parts_list) %>
                    <span class="ml-2">
                      <%= link_to raw('<i class="far fa-trash-alt"></i>'), [:admin, parts_list], data: {confirm: 'Are you sure?'}, method: :delete %>
                    </span>
                    <br />
                  <% end %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <b>Pricing / Quantity</b>
          </div>
          <div class="card-body">
            <table>
              <% if @product.free? %>
                <tr>
                  <td>
                    <b>Price:</b>
                  </td>
                  <td class="pl-2">
                    <b class="text-success">Free!</b>
                  </td>
                </tr>
              <% else %>
                <tr>
                  <td>
                    <b>Price:</b>
                  </td>
                  <td class="pl-2">
                    <%= number_to_currency(@product.price) %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Discount %:</b>
                  </td>
                  <td class="pl-2">
                    <%= "#{@product.discount_percentage.to_i}%" %>
                  </td>
                </tr>
                <% if @product.physical_product? %>
                <tr>
                  <td>
                    <b>Quantity:</b>
                  </td>
                  <td class="pl-2">
                    <%= @product.quantity %>
                  </td>
                </tr>
                <% end %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <b>Etsy</b>
          </div>
          <div class="card-body">
            <% if @product.etsy_listing_id.present? %>
              <table>
                <tr>
                  <td>
                    <b>Listing Created:</b>
                  </td>
                  <td class="pl-2">
                    <%= @product.etsy_created_at&.to_fs(:date_time12) %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Last Updated:</b>
                  </td>
                  <td class="pl-2">
                    <%= @product.etsy_updated_at&.to_fs(:date_time12) %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Listing State:</b>
                  </td>
                  <td class="pl-2">
                    <%= @product.etsy_listing_state %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>PDF Uploaded?:</b>
                  </td>
                  <td class="pl-2">
                    <%= decorate_boolean(@product.etsy_listing_file_id.present?) %>
                  </td>
                </tr>
                <% if @product.etsy_listing_url.present? %>
                  <tr>
                    <td>
                      <b>Listing:</b>
                    </td>
                    <td class="pl-2">
                      <%= link_to 'Etsy Listing', @product.etsy_listing_url, target: '_blank' %>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% else %>
              N/A
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if @product.pinterest_pins.present? %>
      <div class="row mt-4">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <b>Pinterest Pins</b>
            </div>
            <div class="card-body">
              <% @product.pinterest_pins.includes(:pinterest_board).order('created_at desc').each do |pin| %>
                <div class='border rounded p-2 mb-2'>
                  <table>
                    <tr>
                      <td>
                        <b>Title:</b>
                      </td>
                      <td class="pl-2">
                        <%= pin.title.truncate(30) %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Pinned:</b>
                      </td>
                      <td class="pl-2">
                        <%= pin.created_at&.to_fs(:date_time12) %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Board:</b>
                      </td>
                      <td class="pl-2">
                        <%= pin.pinterest_board.topic %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Link:</b>
                      </td>
                      <td class="pl-2">
                        <%= link_to 'Pin Link', pin.link, target: '_blank' %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Pin Url:</b>
                      </td>
                      <td class="pl-2">
                        <%= link_to 'Pin', "https://www.pinterest.com/pin/#{pin.pinterest_native_id}/", target: '_blank' %>
                      </td>
                    </tr>
                  </table>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <b>Images</b>
        <%= link_to raw('<i class="fa fa-plus"></i>'), nil, class: 'btn btn-primary', data: { 'toggle' => "modal", 'target' => "#newImageModal" } %>
        (Only the top 10 images will be sent to Etsy)
      </div>
      <div class="card-body" data-controller="drag" data-drag-url="/admin/images/:id/reposition">
        <% @product.images.order(position: :asc).each do |image| %>
        <!-- Tried using d-inline-block class in here, but the element was no longer draggable -->
          <div class="draggable-image mx-1 border product-show-img-container" style="display: inline-block;" data-id="<%= image.id %>">
            <%= image_tag(image.url.thumb.url) unless image.url.thumb.url.blank? %>
            <span class='fa-layers-counter fa-3x tomato mt-1 mr-1'><%= image.position %></span>
            <div class="overlay">
              <%= link_to raw('<i class="far fa-trash-alt"></i>'), [:admin, image], data: {confirm: 'Are you sure?'}, method: :delete %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="mt-4">
  <%= form_for(:product, :url => {:action => :retire_product}, style: 'display: inline-block;') do |f| %>
    <%= f.hidden_field :id, :value => @product.id %>
    <div class="actions">
      <%= f.submit 'Retire Product', class: 'btn btn-primary' %>
      <a tabindex="0" role="button" class="btn-lg" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Retiring a product" data-content="Retiring a product will set 'ready for public' to false and the category and subcategory to the 'Retired' cat/subcats. This leaves it around for reporting, but takes it out of public view. It also deletes the related Etsy listing and Pinterest pins, if applicable. To un-retire a product, edit it, and see notes about un-retiring the product!">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
  <% end %>
</div>

<%= render partial: 'new_image_form', locals: { image: Image.new(product_id: @product.id), products: Product.all.order('name').pluck(:name, :id) } %>
