<div class="row mt-4 mb-2">
  <div class="col-auto mr-auto">
    <h1><%= @part.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-7">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <b class="mt-2">Part</b>
        <%= link_to 'Edit', edit_admin_part_path(@part), class: 'btn btn-primary' %>
      </div>
      <div class="card-body">
        <table>
          <tr>
            <td>
              <b>Name:</b>
            </td>
            <td></td>
            <td class="pl-4">
              <%= @part.name %>
            </td>
          </tr>
          <tr>
            <td>
              <b>LDraw ID:</b>
            </td>
            <td></td>
            <td class="pl-4">
              <%= @part.ldraw_id %>
            </td>
          </tr>
          <tr>
            <td>
              <b>BrickLink ID:</b>
            </td>
            <td></td>
            <td class="pl-4">
              <%= @part.bl_id %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Lego ID:</b>
            </td>
            <td></td>
            <td class="pl-4">
              <%= @part.lego_id %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Rebrickable Checked?:</b>
            </td>
            <td class="px-4"></td>
            <td class="pl-4">
              <%= decorate_boolean(!@part.check_rebrickable?) %>
            </td>
          </tr>
          <tr>
            <td>
              <b>BrickLink Checked?:</b>
            </td>
            <td class="px-4"></td>
            <td class="pl-4">
              <%= decorate_boolean(!@part.check_bricklink?) %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Alternate Numbers:</b>
            </td>
            <td class="px-4"></td>
            <td class="pl-4">
              <%= @part.alternate_nos['alternates'].to_sentence if @part.alternate_nos.present? %>
            </td>
          </tr>
          <tr>
            <td>
              <b>BrickOwl IDs:</b>
            </td>
            <td class="px-4"></td>
            <td class="pl-4">
              <%= @part.brickowl_ids %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Range:</b>
            </td>
            <td class="px-4"></td>
            <td class="pl-4">
              <%= @part.year_from.present? || @part.year_to.present? ? "#{@part.year_from} - #{@part.year_to}" : '' %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Is Obsolete:</b>
            </td>
            <td class="px-4"></td>
            <td class="pl-4">
              <%= decorate_boolean(@part.is_obsolete?) %>
            </td>
          </tr>
          <tr>
            <td>
              <b>Is LSynth?:</b>
            </td>
            <td class="px-4"></td>
            <td class="pl-4">
              <%= decorate_boolean(@part.is_lsynth?) %>
            </td>
          </tr>
        </table>
      </div>
      <div class="mb-3 ml-3">
        <%= link_to 'Update via BrickLink', update_via_bricklink_admin_part_path(@part), method: :put, class: 'btn btn-primary' %>
        <%= link_to 'Update via Rebrickable', update_via_rebrickable_admin_part_path(@part), method: :put, class: 'btn btn-primary' %>
      </div>
    </div>
    <%= link_to 'Back to Index', admin_parts_path %>
  </div>
  <div class="col-5">
    <div class="card">
      <div class="card-header">
        <b>Images</b>
      </div>
      <div class="card-body">
        <% @part.images.each do |image| %>
          <%= image_tag(image.thumb.url) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
