<script>
  function setUpRedirect(productCode, button) {
    button.disabled = true;
    window.location.href = "/download/" + productCode + ""
    setTimeout("window.location='/account'", 3000);
    return true;
  }
</script>
<section class="content">
  <div class="container">
    <h1>My Account</h1>
    <br/>
    <h2>Instructions I've purchased</h2>
    <p class="text-muted">
      If you don't see a set of instructions you've purchased, check out your
      <%= link_to "Order History", account_order_history_path %>
      to see if there is a problem.
    </p>
    <br/>
    <% if @products.length == 0 %>
      You are not yet the proud owner of any of Brick City Depot's fine Instructions. Please visit the store to rectify that.
    <% else %>
      <div class="table-responsive-md">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col" colspan="2">Model</th>
              <th scope="col">Parts Lists</th>
              <th scope="col">PDF</th>
              <th scope="col">Downloads Remaining</th>
            </tr>
          </thead>
          <% @products.each do |product_info| %>
            <tr>
              <td>
                <%= image_tag(product_info.image_url) unless product_info.image_url.nil? %>
              </td>
              <td class="align-middle">
                <%= "#{product_info.product.product_code} #{product_info.product.name}" %>
              </td>
              <% if product_info.product.includes_instructions? %>
                <td class="align-middle">
                  <% if !product_info.html_list_ids.blank? %>
                    <% product_info.html_list_ids.each_with_index do |hlid,index| %>
                      <%= link_to "Checklist #{index+1}", controller: :downloads, action: :download_parts_list, parts_list_id: hlid %>
                      <br/>
                    <% end %>
                  <% end %>
                  <% if !product_info.html_list_ids.blank? && !product_info.xml_list_ids.blank? %>
                    <br/>
                  <% end %>
                  <% if !product_info.xml_list_ids.blank? %>
                    <% product_info.xml_list_ids.each_with_index do |xlid,index| %>
                      <%= link_to "Bricklink XML #{index+1}", :controller => :downloads, :action => :download_parts_list, :parts_list_id => xlid %>
                      <br/>
                    <% end %>
                  <% end %>
                </td>
                <td class="align-middle">
                  <noscript class="sad">
                    Won't work if javascript is disabled
                  </noscript>
                  <%= button_tag raw("<i class='fa fa-download'></i> &nbsp; Download"), class: 'btn btn-primary', type: 'button', onclick: "setUpRedirect('#{product_info.product.product_code}',this)" %>
                </td>
                <td class="align-middle">
                  <% if downloads_remaining(product_info.product.id) < 2 %>
                    <strong class="sad"><%= downloads_remaining(product_info.product.id) %></strong>
                  <% else %>
                    <%= downloads_remaining(product_info.product.id) %>
                  <% end %>
                </td>
              <% else %>
                <td class="align-middle">N/A</td>
                <td class="align-middle">N/A</td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
</section>