:javascript
  function setUpRedirect(productCode,button)
  {
    button.disabled = true;
    window.location.href="/download/"+productCode+""
    setTimeout("window.location='/account'",3000);
    return true;
  }

=h1("My Account")
%br
%p
  = link_to "Edit Profile", :controller => :registrations, :action => :edit
  %br
  = link_to "Order History", account_order_history_path
%br
%h2 Instructions I've purchased
%br
%br
If you don't see a set of instructions you've purchased, check out your #{link_to "Order History", account_order_history_path} to see if there is a problem.
%br
%br
- if @products.length == 0
  You are not yet the proud owner of any of Brick City Depot's fine Instructions. Please visit the #{link_to "Store", store_path} to rectify that.
-else
  %p
    %table.cart_table
      %tr
        %th{:colspan => 2} Model
        %th Parts Lists
        %th.pdf_bound_left PDF
        %th Downloads Remaining
      - @products.each do |product_info|
        %tr
          %td.left_most_cell= image_tag(product_info.image_url, :size => '100x100') if !product_info.image_url.nil?
          %td= "#{product_info.product.product_code} #{product_info.product.name}"
          - if product_info.product.includes_instructions?
            %td
              - if product_info.html_list_id
                = link_to 'Parts Checklist', :controller => :downloads, :action => :download_parts_list, :parts_list_id => product_info.html_list_id
              - if product_info.html_list_id && product_info.xml_list_id
                %br
                %br
              - if product_info.xml_list_id
                = link_to 'Bricklink XML', :controller => :downloads, :action => :download_parts_list, :parts_list_id => product_info.xml_list_id
            %td.pdf_bound_left
              %noscript.sad
                Won't work if javascript is disabled
              = tag "input", {:type => "button", :value => "Download", :class => 'add_to_cart_button', :onclick => "setUpRedirect('#{product_info.product.product_code}',this)"}
            %td.right_most_cell
              - if downloads_remaining(product_info.product.id) < 2
                %b.sad #{downloads_remaining(product_info.product.id)}
              - else
                = downloads_remaining(product_info.product.id)
          - else
            %td N/A
            %td N/A