<script>
  function setUpRedirect(productCode, button) {
    button.disabled = true;
    window.location.href = "/download/" + productCode + ""
    setTimeout("window.location='/account'", 3000);
    return true;
  }
</script>
<section class="content">
  <div class="container">
    <h1>My Account</h1>
    <br/>
    <h2>Instructions I've purchased</h2>
    <p class="text-muted">
      If you don't see a set of instructions you've purchased, check out your
      <%= link_to "Order History", account_order_history_path %>
      to see if there is a problem.
    </p>
    <br/>
    <% if @products.length == 0 %>
      You are not yet the proud owner of any of Brick City Depot's fine Instructions. Please visit the store to rectify that.
    <% else %>
      <div class="table-responsive-lg">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th class="align-middle text-center" scope="col" colspan="2">Model</th>
              <th class="align-middle text-center" scope="col">Parts Lists</th>
              <th class="align-middle text-center" scope="col">PDF</th>
              <th class="align-middle text-center" scope="col">Downloads<br />Remaining</th>
            </tr>
          </thead>
          <% @products.each do |product_info| %>
            <tr>
              <td>
                <%= image_tag(product_info.image_url.url) unless product_info.image_url.blank? %>
              </td>
              <td class="align-middle text-center">
                <span class="d-none d-md-block">
                  <%= "#{product_info.product.product_code} #{product_info.product.name}" %>
                </span>
              </td>
              <% if product_info.product.includes_instructions? %>
                <td class="align-middle text-center">
                  <% if product_info.parts_list_ids.present? %>
                    <% product_info.parts_list_ids.each_with_index do |parts_list_id, index| %>
                      <%= link_to "Parts List #{index+1}", parts_list_path(parts_list_id) %>
                    <% end %>
                  <% else %>
                    This parts list temporarily unavailable during maintenance. Sorry for the inconvenience. Please check again shortly.
                  <% end %>
                </td>
                <td class="align-middle text-center">
                  <noscript class="text-danger">
                    Won't work if javascript is disabled
                  </noscript>
                  <%= button_tag raw("<i class='fa fa-download'></i> PDF"), class: 'btn btn-primary', type: 'button', onclick: "setUpRedirect('#{product_info.product.product_code}',this)" %>
                </td>
                <td class="align-middle text-center">
                  <% if downloads_remaining(product_info.product.id) < 2 %>
                    <strong class="text-danger"><%= downloads_remaining(product_info.product.id) %></strong>
                  <% else %>
                    <%= downloads_remaining(product_info.product.id) %>
                  <% end %>
                </td>
              <% else %>
                <td class="align-middle text-center">N/A</td>
                <td class="align-middle text-center">N/A</td>
                <td class="align-middle text-center">N/A</td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
</section>
