<%= nested_form_for [:admin, image] do |f| %>
  <div class="row">
    <div class="col-5">
      <div class="card">
        <div class="card-header">
          <b>Image</b>
        </div>
        <div class="card-body">
          <div class="form-group">
            <% if image.persisted? %>
              <p>
                Product:
                <%= image.product.code_and_name %>
              </p>
            <% else %>
              <%= f.label :product_id, class: 'form-label' %>
              <%= f.select :product_id, products, class: 'form-control' %>
            <% end %>
          </div>
          <br />
          <div class="form-group">
            <% if image.url? && !image.url.blank? %>
              <%= f.label :url, "Image", class: "form-label" %>
              <br/>
              <% if image.url_cache %>
                <%= f.text_field :url_cache, disabled: true, class: "form-control" %>
              <% else %>
                <%= f.text_field :url, disabled: true, class: "form-control" %>
              <% end %>
            <% end %>

            <%= f.label :url, "Image", class: "form-label" %>
            <%= f.file_field :url, class: "form-control-file mt-2" %>
            <%= f.hidden_field :url_cache %>
            <% if image.url? %>
              <div class="form-check mt-2">
                <%= f.check_box :remove_url, class: "form-check-input" %>
                <%= f.label :remove_url, "Delete Image", class: "form-check-label" %>
              </div>
            <% end %>
          </div>
          <div class="form-group mt-4">
            <%= f.submit 'Save', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
