<span class="font-weight-bold">Image for: </span>
<%= "#{@image.product.product_code} #{@image.product.name}" %>
<br />
<span class="font-weight-bold">Full URL: </span>
<%= @image.url %>
<br />
<% if @image.product %>
  <%= image_tag(@image.url.medium.url) unless @image.url.medium.url.blank? %>
<% else %>
  <%= @image.url.to_s.split('.')[0].humanize %>
<% end %>
<br/>
<br/>
<%= link_to 'Back', admin_images_path %>
