= form_for @category, :html => {:multipart => true} do |f|
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :description
    %br
    = f.text_area :description
  .field
    = f.label :ready_for_public
    = f.check_box :ready_for_public, {:checked => @category.ready_for_public},1,0
  .field
    = f.text_field :image, :disable => true if @category.image?
    = f.label :image
    %br
    = f.file_field :image
    = f.hidden_field :image_cache
    - if @category.image?
      .field
        = f.label :delete_image
        = f.check_box :remove_image
  .actions
    = f.submit 'Save'
