<%= form_for category, :html => {:multipart => true} do |f| %>
<div class="field">
  <%= f.label :name %>
  <br/>
  <%= f.text_field :name, placeholder: "City" %>
</div>
<div class="field">
  <%= f.label :description %>
  <br/>
  <%= f.text_area :description, placeholder: "Some marketing mumbo jumbo about this category..." %>
</div>
<div class="field">
  <%= f.label :ready_for_public %>
  <%= f.check_box :ready_for_public, {:checked => category.ready_for_public},1,0 %>
</div>
<div class="field">
  <%= f.text_field :image, :disable => true if category.image? %>
  <%= f.label :image %>
  <br/>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
  <% if category.image? %>
    <div class="field">
      <%= f.label :delete_image %>
      <%= f.check_box :remove_image %>
    </div>
  <% end %>
</div>
<div class="actions">
  <%= f.submit 'Save' %>
</div>
<% end %>