<h1>Listing categories</h1>
<br/>
<table class="admin_table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Live?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td>
        <%= category.name %>
      </td>
      <td>
        <%= snippet(category.description, :word_count => 10) %>
      </td>
      <% if category.ready_for_public == true %>
        <td class="happy">
          <%= category.ready_for_public %>
        </td>
      <% else %>
        <td class="sad">
          <%= category.ready_for_public %>
        </td>
      <% end %>
      <td>
        <%= link_to 'Show', category %>
      </td>
      <td>
        <%= link_to 'Edit', edit_category_path(category) %>
      </td>
      <td>
        <%= link_to 'Destroy', category, data: {confirm: 'Are you sure?'}, :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to 'New Category', new_category_path %>