<h1>Category Details</h1>
<br/>
<p>
  <b>Name:</b>
  <%= @category.name %>
</p>
<p>
  <b>Description:</b>
  <%= @category.description %>
</p>
<p>
  <b>Image?</b>
  <% if @category.image? %>
    <b class="happy">
      Si Senor!
    </b>
  <% else %>
    <b class="sad">
      Sad Meow.
    </b>
  <% end %>
</p>
<p>
  <b>Subcategories:</b>
  <br/>
  <% @category.subcategories.each do |subcat| %>
    <br/>
    <%= link_to "#{subcat.code} #{subcat.name}", :controller => :subcategories, :action => :show, :id => subcat.id %>
  <% end %>
</p>
<br/>
<b></b>
<br/>
<% if @category.ready_for_public == true %>
  <p class="happy">
    <b>Ready for Public!</b>
  </p>
<% else %>
  <p class="sad">
    <b>NOT Ready for Public!</b>
  </p>
<% end %>
<br/>
<%= link_to 'Edit', edit_category_path(@category) %>
\|
<%= link_to 'Back', categories_path %>