<br/>
<br/>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="basics-tab" data-toggle="tab" href="#basics" role="tab" aria-controls="basics" aria-selected="true">Basics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pdf-parts-list-tab" data-toggle="tab" href="#pdf-parts-list" role="tab" aria-controls="pdf-parts-list" aria-selected="false">PDF/Parts List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pricing-tab" data-toggle="tab" href="#pricing" role="tab" aria-controls="pricing" aria-selected="false">Pricing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">Images</a>
  </li>
</ul>
<%= nested_form_for product, :html => {:multipart => true} do |f| %>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="basics" role="tabpanel" aria-labelledby="basics-tab">
      <div class="card mt-4">
        <div class="card-header">
          <b>Basics</b>
        </div>
        <div class="card-body">
          <div class="form-group">
            <%= f.label :name, "Name", class: 'form-label' %>
            <br/>
            <%= f.text_field :name, placeholder: "Colonial Revival House", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :product_type_id, 'Product Type', class: 'form-label' %>
            <br/>
            <%= f.select :product_type_id, product_types, {}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :category_id, class: 'form-label' %>
            <br/>
            <%= f.select :category_id, categories, { prompt: true }, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :subcategory_id, class: 'form-label' %>
            <br/>
            <%= f.select :subcategory_id, Subcategory.where("category_id=?",product.category_id).map{|p| [p['name'],p['id']]}, {}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :product_code, "Product Code", class: 'form-label' %>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Product Code Notes" data-content="Product code for instructions fits the pattern 'CB002'. A physical model would be 'CB002M' and a kit would be 'CB002K'. A model or kit must have a 'base' product (set of instructions) before you try to add a model or kit.">
              <i class="fa fa-question-circle"></i>
            </a>
            <br/>
            <%= f.text_field :product_code, size: 6, placeholder: "CV002", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :description, "Description (min 100 characters)", class: 'form-label' %>
            <br/>
            <%= f.text_area :description, placeholder: "This model is a great addition to your town...", rows: 5, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :youtube_url, "Youtube Video ID (If full url is http://www.youtube.com/watch?v=oavMtUWDBTM I just want oavMtUWDBTM)", class: "form-label" %>
            <br/>
            <%= f.text_field :youtube_url, :size => 12, placeholder: "oavMtUWDBTM", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :designer, class: 'form-label' %>
            <%= f.select :designer, ['brian_lyles','jason_lyles'], {}, class: 'form-control' %>
          </div>
          <div class="form-check mt-2">
            <%= f.check_box :alternative_build, {checked: product.alternative_build, class: 'form-check-input'},1,0 %>
            <%= f.label :alternative_build, class: 'form-check-label' %>
          </div>
          <div class="form-check">
            <%= f.check_box :featured, {checked: product.featured, class: 'form-check-input'},1,0 %>
            <%= f.label :featured, class: 'form-check-label' %>
          </div>
          <div class="form-check">
            <%= f.check_box :ready_for_public, {:checked => product.ready_for_public, class: 'form-check-input'},1,0 %>
            <%= f.label :ready_for_public, "Ready for public?", class: 'form-check-label' %>
            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ready For Public" data-content="Products that aren't ready for the public will only be visible in the admin areas. If you want to un-retire a retired model, make sure to check the 'ready for public?' checkbox. Also, set the category and subcategory for the product to an
            appropriate cat/subcat.">
              <i class="fa fa-question-circle"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pdf-parts-list" role="tabpanel" aria-labelledby="pdf-parts-list-tab">
      <div class="card mt-4">
        <div class="card-header">
          <b>PDF / Parts List</b>
        </div>
        <div class="card-body">
          <div class="form-group">
            <% if product.pdf? && !product.pdf.blank? %>
              <%= f.label :pdf, "PDF", class: "form-label" %>
              <br/>
              <% if product.pdf_cache %>
                <%= f.text_field :pdf_cache, disabled: true, class: "form-control" %>
              <% else %>
                <%= f.text_field :pdf, disabled: true, class: "form-control" %>
              <% end %>
              <br/>
            <% end %>
            <% if product.pdf? %>
              <div class="form-check mt-2">
                <%= f.check_box :remove_pdf, class: "form-check-input" %>
                <%= f.label :remove_pdf, "Delete PDF", class: "form-check-label" %>
              </div>
            <% else %>
              <%= f.label :pdf, "PDF", class: "form-label" %>
              <br/>
              <%= f.file_field :pdf, class: "form-control-file" %>
              <%= f.hidden_field :pdf_cache %>
            <% end %>
          </div>
          <% if product.persisted? %>
            <hr />
            <div>
              Parts Lists:
              <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Parts Lists" data-content="Green check mark means approved. Red X means not approved.">
                <i class="fa fa-question-circle"></i>
              </a>
              <br />
              <% product.parts_lists.each do |parts_list| %>
                <%= decorate_boolean(parts_list.approved) %>
                &nbsp;
                <%= link_to parts_list.name, parts_list_path(parts_list), target: '_blank' %>
                <br />
              <% end %>
              <%= link_to 'Add Parts List', new_parts_list_path, target: '_blank', class: 'btn btn-primary mt-2' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pricing" role="tabpanel" aria-labelledby="pricing-tab">
      <div class="card mt-4">
        <div class="card-header">
          <b>Pricing / Quantity</b>
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="form-check mb-2">
              <%= f.check_box :free, {checked: product.free, class: 'form-check-input'},1,0 %>
              <%= f.label :free, class: 'form-check-label' %>
            </div>
            <%= f.label :price, class: 'form-label' %>
            <br/>
            <%= f.text_field :price, :size => 4, placeholder: "10", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :discount_percentage, "Percentage off, expressed as an integer. i.e. 25 would mean 25% off (This is not fully functional yet)", class: 'form-label' %>
            <br/>
            <%= f.text_field :discount_percentage, :size => 4, placeholder: "0.25", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :quantity, 'Quantity (Only for physical items.) Instructions should be set to 1', class: 'form-label' %>
            <br/>
            <%= f.text_field :quantity, :size => 4, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
      <div class="card mt-4">
        <div class="card-header">
          <b>Images</b>
        </div>
        <div class="card-body">
          <div class="form-group">
            <% field_count = 0 %>
            <%= f.fields_for :images do |image_form| %>
              <% field_count += 1 %>
              <p>
                <%= image_form.label :url, "Image (Images should be 700x700)", class: "form-label" %>
                <br/>
                <% if product.images && product.images.length >= field_count %>
                  <%= image_form.text_field :url, :disabled => true, class: "form-control" %>
                <% else %>
                  <%= image_form.file_field :url, class: "form-control-file" %>
                  <%= image_form.hidden_field :url_cache %>
                <% end %>
                <%= image_form.link_to_remove "Remove this image" %>
              </p>
            <% end %>
          </div>
          <%= f.link_to_add "Add Image", :images, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group mt-2">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
