<p>
  <b>Name:</b>
  <%= @product.name %>
</p>
<p>
  <b>Type:</b>
  <%= @product.product_type.name %>
</p>
<p>
  <b>Quantity:</b>
  <%= @product.quantity %>
</p>
<p>
  <b>Category:</b>
  <%= @product.category.name %>
</p>
<p>
  <b>Subcategory:</b>
  <%= @product.subcategory.name %>
</p>
<p>
  <b>Product code:</b>
  <%= @product.product_code %>
</p>
<p>
  <b>Description:</b>
  <%= @product.description %>
</p>
<p>
  <b>Images:</b>
  <br/>
  <% @product.images.each do |image| %>
    <% if image.url_processing? %>
      Image available soon...
    <% else %>
      <%= image_tag(image.url.thumb.url) %>
    <% end %>
  <% end %>
</p>
<p>
  <b>Parts Lists:</b>
  <br/>
  <% @product.parts_lists.each do |pl| %>
    <%= pl.name.path %>
    <br/>
  <% end %>
</p>
<p>
  <b>Discount percentage:</b>
  <%= "#{@product.discount_percentage.to_i}%" %>
</p>
<p>
  <b>Price:</b>
  <%= number_to_currency(@product.price) %>
</p>
<% if @product.free? %>
  <p class="happy">
    <b>Free for all!</b>
  </p>
<% end %>
<% if @product.ready_for_public == true %>
  <p class="happy">
    <b>Ready for Public!</b>
  </p>
<% else %>
  <p class="sad">
    <b>NOT Ready for Public!</b>
  </p>
<% end %>
<p>
  <b>Alternative build?</b>
  <%= @product.alternative_build? %>
</p>
<p>
  <b>Featured?</b>
  <%= @product.featured? %>
</p>
<p>
  <b>Youtube Url:</b>
  <% if @product.youtube_url && !@product.youtube_url.blank? %>
    <%= @product.youtube_url %>
    <br/>
    <iframe frameborder="0" height="315" src="https://www.youtube.com/embed/<%= @product.youtube_url %>?rel=0" width="420"></iframe>
  <% end %>
</p>
<p>
  <b>Designer:</b>
  <%= @product.designer %>
</p>
<br/>
<%= link_to "Add Image", new_image_path(:product_id => @product.id) %>
\|
<%= link_to 'Edit', edit_product_path(@product) %>
\|
<%= link_to 'Back', products_path %>
\|
<%= link_to 'Add Derivative Product', new_product_path(:product_code => @product.product_code) %>
<br/>
<br/>
<%= form_for(:product, :url => {:action => :retire_product}) do |f| %>
<%= f.hidden_field :id, :value => @product.id %>
<div class="actions">
  <%= f.submit 'Retire Product' %>
</div>
<% end %>
* Retiring a product will set 'ready for public' to false and the category and subcategory to the "Retired" cat/subcats.
This leaves it around for reporting, but takes it out of public view. To un-retire a product, edit it, and see notes
about un-retiring the product.