<div class="products_detail_thumb drop_shadow">
  <div class="centered_product_thumb">
    <div class="thumb_image_div">
      <% image = product.images %>
        <% image_url = image[0].url.thumb.url unless image.blank? %>
          <%= link_to(image_tag(image_url), {:action => :product_details, :product_code => product.product_code, :product_name => product.name.to_snake_case}, :class => 'image_link') if !image_url.blank? %>
        </div>
        <div class="thumb_details">
          <div class="model_name">
            <%= link_to product.name, {:action => :product_details, :product_code => product.product_code, :product_name => product.name.to_snake_case} %>
          </div>
        </div>
        <b>Model #:</b>
        <%= product.product_code %>
        <% unless product.is_free? %>
          <br/>
          <b>Price:</b>
          <%= number_to_currency(product.price) %>
        <% end %>
        <br/>
        <br/>
        <div class="add_to_cart_div">
          <% if product.is_free? %>
            <h2>FREE</h2>
          <% else %>
            <%= button_to "Add to Cart", {:action => "add_to_cart", :product_code => product.product_code}, :class => 'add_to_cart_button', data: {disable_with: 'Adding...'} %>
          <% end %>
        </div>
        <br/>
      </div>
    </div>