<div class="card mb-4 mt-4">
  <div class="product-header">
    <%= link_to(image_tag(product.main_image.medium, class: 'card-img-top img-fluid'), { action: :product_details, product_code: product.product_code, product_name: product.name.to_snake_case}) unless product.main_image.medium.blank? %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= link_to product.code_and_name, { action: :product_details, product_code: product.product_code, product_name: product.name.to_snake_case } %></h5>
    <p class="card-text">
      <%= snippet(product.description, word_count: 20) %>
      <br/>
      <%= link_to "learn more", { action: :product_details, product_code: product.product_code, product_name: product.name.to_snake_case } %>
    </p>
  </div>
  <div class="card-footer card-footer-no-border bg-transparent">
    <% if product.free? %>
      <span class="h4">
        <strong>FREE</strong>
      </span>
    <% else %>
      <span class="hero-price">
        <strong><%= number_to_currency(product.price) %></strong>
      </span>
    <% end %>
    <div class="mt-2">
      <%= link_to raw("<i class='fas fa-cart-plus'></i>&nbsp; <span style='font-size:larger'>Add to Cart</span>"), {action: "add_to_cart", product_code: product.product_code}, {class: 'btn btn-primary btn-block', data: {disable_with: 'Adding...'}, method:
      :post} %>
    </div>
  </div>
</div>
