<%= h1("My Cart") %>
<br/>
<br/>
<% if @cart && !@cart.empty? %>
  <%= render :partial => 'shared/cart_nav_buttons' %>
  <div class="clear"></div>
  <br/>
  <p>
    <table class="cart_table">
      <tr>
        <th colspan="2">Model</th>
        <th>Type</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      <% @cart.cart_items.each do |item| %>
        <tr id="<%= item.product.product_code %>" class="<%= errant_cart_item?(item.product.product_code) ? "cart_errors" : '' %>">
          <% image = item.product.images[0] %>
            <% image_url = image.url.thumb if !image.blank? %>
              <td class="left_most_cell">
                <%= image_tag(image_url.url) if !image_url.blank? %>
              </td>
              <td>
                <%= link_to "#{item.product.product_code} #{item.product.name}", {:action => :product_details, :product_code => item.product.product_code, :product_name => item.product.name.to_snake_case} %>
              </td>
              <td><%= item.product.product_type.name %></td>
              <td><%= number_to_currency(item.price) %></td>
              <td class="right_most_cell">
                <% if item.product.is_physical_product? %>
                  <%= form_for(:cart, :url => {:action => :update_item_in_cart}) do |f| %>
                  <%= f.hidden_field :item_id, :value => item.id %>
                  <%= f.text_field :quantity, :value => item.quantity, :size => 1 %>
                  <%= f.submit 'Update', :style => 'cursor:pointer', data: {disable_with: 'Updating'} %>
                <% end %>
              <% else %>
                <%= form_for(:cart, :url => {:action => :update_item_in_cart}) do |f| %>
                <%= f.hidden_field :item_id, :value => item.id %>
                <%= f.hidden_field :quantity, :value => 0 %>
                <%= f.text_field :display_quantity, :value => 1, :size => 1, :disabled => true %>
                <%= f.submit 'Remove', :style => 'cursor:pointer', data: {disable_with: 'Removing'} %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="spacer_row" colspan="6"></td>
        </tr>
        <tr>
          <td class="no_border" colspan="3"></td>
          <td class="left_subtotal_cell" colspan="1">
            <b>Items:</b>
            <br/>
            <br/>
            <b>Subtotal:</b>
          </td>
          <td class="right_subtotal_cell">
            <%= @cart.total_quantity %>
            <br/>
            <br/>
            <%= number_to_currency @cart.total_price %>
          </td>
        </tr>
      <% end %>
    </table>
  </p>
  <br/>
  <%= render :partial => 'shared/cart_nav_buttons' %>
<% else %>
  <div class="centered_text">
    <br/>
    <br/>
    Your cart is empty.
    <br/>
    <br/>
    <%= link_to "Return to Shopping", store_path %>
  </div>
<% end %>