<section class="content">
  <div class="container">
    <h1>Cart</h1>
    <br/>
    <% if @cart && !@cart.empty? %>
      <%= render :partial => 'shared/cart_nav_buttons' %>
      <br/>
      <p>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th colspan="2">Model</th>
              <th>Type</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <% @cart.cart_items.each do |item| %>
            <tr id="<%= item.product.product_code %>" class="<%= errant_cart_item?(item.product.product_code) ? "cart_errors" : '' %>">
              <% image = item.product.images[0] %>
              <% if !image.blank? %>
                <% image_url = image.url.thumb %>
                <td>
                  <%= link_to image_tag(image_url.url), { action: :product_details, product_code: item.product.product_code, product_name: item.product.name.to_snake_case } unless image_url.url.blank? %>
                </td>
              <% end %>
              <td class="align-middle">
                <span class="d-none d-md-block">
                  <%= link_to "#{item.product.product_code} #{item.product.name}", { action: :product_details, product_code: item.product.product_code, product_name: item.product.name.to_snake_case } %>
                </span>
              </td>
              <td class="align-middle"><%= item.product.product_type.name %></td>
              <td class="align-middle"><%= number_to_currency(item.price) %></td>
              <td class="align-middle">
                <% if item.product.is_physical_product? %>
                  <%= form_for(:cart, url: { action: :update_item_in_cart }) do |f| %>
                    <%= f.hidden_field :item_id, value: item.id %>
                    <div class="form-group">
                      <%= f.text_field :quantity, value: item.quantity, size: 1, class: 'form-control' %>
                    </div>
                    <%= f.submit 'Update', class: 'btn btn-primary btn-sm', data: { disable_with: 'Updating' } %>
                  <% end %>
                <% else %>
                  <%= form_for(:cart, url: { action: :update_item_in_cart }) do |f| %>
                    <%= f.hidden_field :item_id, value: item.id %>
                    <%= f.hidden_field :quantity, value: 0 %>
                    <div class="input-group input-group-sm mb-3">
                      <%= f.text_field :display_quantity, value: 1, size: 1, disabled: true, class: 'form-control' %>
                      <div class="input-group-append">
                        <%= f.submit 'Remove', class: 'btn btn-outline-primary btn-sm', data: { disable_with: 'Removing' } %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </p>
      <div class="float-right mr-1">
        <strong>Items:</strong>
        <%= @cart.total_quantity %>
        <br/>
        <strong>Subtotal:</strong>
        <%= number_to_currency @cart.total_price %>
      </div>
      <div class="clearfix"></div>
      <br/>
      <%= render partial: 'shared/cart_nav_buttons' %>
    <% else %>
      <div class="text-center">
        <br/>
        <br/>
        Your cart is empty.
        <br/>
        <br/>
        <%= link_to "Return to Shopping", store_products_path(product_type_name: 'Instructions') %>
      </div>
    <% end %>
  </div>
</section>
