<section class="content">
  <div class="container">
    <% if @category.name && @category.image.blank? %>
      <h1><%= @category.name %></h1>
    <% else %>
      <div class="jumbotron category-jumbotron" style="background-image: url('<%= @category.image.url %>');">
        <div class="row">
          <div class="col-md-5 category-jumbotron-callout">
            <h1 class="text-white brand-heading"><%= @category.name %></h1>
            <br/>
            <p class="lead text-white">
              <%= @category.description %>
            </p>
            <p class="lead text-white">
              Check out available models below
            </p>
          </div>
        </div>
      </div>
    <% end %>
    <% if @products.blank? %>
      <br/>
      <br/>
      <div class="text-center">
        <%= "Sorry, there are currently no #{@category.name.capitalize} products for sale." %>
      </div>
    <% end %>
    <%= paginate @products %>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-3 d-flex">
          <%= render 'product_teaser_medium', product: product %>
        </div>
      <% end %>
    </div>
    <%= paginate @products %>
  </div>
</section>