- if @category.name && !@category.image
  =h1(@category.name.capitalize)
- else
  %div#category_banner
    = image_tag(@category.image.url) if @category.image && @category.image.url
%br
%p
  = @category.description
%br
- if @products.blank?
  %br
  %br
  .centered_text
    = "Sorry, there are currently no #{@category.name.capitalize} products for sale."
= paginate @products
.centered_products_table
  %table.products_table
    - @products.each_with_index do |product,index|
      - if index.even?
        %tr
      %td
        = render 'product_teaser_medium', :product => product
= paginate @products