<section class="content">
  <div class="container">
    <h1>Checkout</h1>
    <br/>
    <% if @user.guest? %>
      <strong>
        Guest email:
      </strong>
      <br/>
      <%= @user.email %>
      <%= link_to 'edit', controller: :sessions, action: :guest_registration %>
      <br/>
      <br/>
    <% end %>
    <% if @cart.has_physical_item? %>
      <strong>
        Address:
        <br/>
      </strong>
      <% if @submission_method == 'paypal' %>
        You chose for us to get your address from Paypal
      <% else %>
        <%= "#{@order.first_name} #{@order.last_name}" %>
        <br/>
        <%= @order.address_street_1 %>
        <br/>
        <% if @order.address_street_2? %>
          <%= @order.address_street_2 %>
          <br/>
        <% end %>
        <%= "#{@order.address_city}, #{@order.address_state} #{@order.address_zip}" %>
      <% end %>
      <%= link_to 'edit', controller: :store, action: :enter_address %>
      <br/>
      <br/>
    <% end %>
    <br/>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th colspan="2">Model</th>
          <th>Type</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <% @cart.cart_items.each do |item| %>
        <tr>
          <% image = item.product.images[0] %>
            <% image_url = image.url.thumb if !image.blank? %>
              <td>
                <%= image_tag(image_url.url) if !image_url.blank? %>
              </td>
              <td class="align-middle">
                <%= "#{item.product.product_code} #{item.product.name}" %>
              </td>
              <td class="align-middle">
                <%= item.product.product_type.name %>
              </td>
              <td class="align-middle">
                <%= number_to_currency(item.price) %>
              </td>
              <td class="align-middle">
                <%= item.quantity %>
              </td>
            </tr>
          <% end %>
        </table>
        <div class="float-right">
          <table class="table">
            <tr>
              <td>
                <strong>Items:</strong>
                <br/>
                <strong>Subtotal:</strong>
                <br/>
                <br/>
                <strong>Total:</strong>
              </td>
              <td>
                <%= @cart.total_quantity %>
                <br/>
                <%= number_to_currency @cart.total_price %>
                <br/>
                <br/>
                <strong><%= number_to_currency @cart.total_price %></strong>
              </td>
            </tr>
          </table>
          <%= button_to "Submit Order!", {action: :submit_order, order: {user_id: @user.id}}, {data: {disable_with: 'Submitting...'}, class: 'btn btn-primary'} %>
          <br/>
          <div>
            <%= image_tag('paypal.png', class: 'img-fluid paypal-logo') %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </section>