=h1("Checkout")
%br
%br
- if @user.guest?
  %b
    Guest email:
  %br
  = @user.email
  = link_to 'edit', :controller => :sessions, :action => :guest_registration
  %br
  %br
- if @cart.has_physical_item?
  %b
    Address:
    %br
  - if @submission_method == 'paypal'
    You chose for us to get your address from Paypal
  - else
    = "#{@order.first_name} #{@order.last_name}"
    %br
    = @order.address_street_1
    %br
    - unless @order.address_street_2.blank?
      = @order.address_street_2
      %br
    = "#{@order.address_city}, #{@order.address_state} #{@order.address_zip}"
  = link_to 'edit', :controller => :store, :action => :enter_address
  %br
  %br
%br
%p
  %table.cart_table
    %tr
      %th{:colspan => 2} Model
      %th Type
      %th Price
      %th Quantity
    - @cart.cart_items.each do |item|
      %tr
        - image = item.product.images[0]
        - image_url = image.url.thumb if !image.blank?
        %td.left_most_cell= image_tag(image_url.url) if !image_url.blank?
        %td= "#{item.product.product_code} #{item.product.name}"
        %td #{item.product.product_type.name}
        %td #{number_to_currency(item.price)}
        %td.right_most_cell= "#{item.quantity}"
    %tr
      %td.spacer_row{:colspan => 6}
    %tr
      %td.no_border{:colspan => 3}
      %td.left_subtotal_cell{:colspan => 1}
        %b Items:
        %br
        %br
        %b Subtotal:
      %td.right_subtotal_cell
        #{@cart.total_quantity}
        %br
        %br
        #{number_to_currency @cart.total_price}
%br
.float_right
  %br
  Total: #{number_to_currency @cart.total_price}
  %br
  = button_to "Submit Order!", {:action => :submit_order,:order => {:user_id => @user.id}}, {:style => 'cursor:pointer', :disable_with => 'Submitting...'}
  %br
  .paypal_icons
    = image_tag('icons/paypal_icons.gif')

