<section class="content">
  <div class="container">
    <h1><%= @product_type.name %></h1>
    <br/>
    <p>
      <%= @product_type.description %>
    </p>
    <br/>
    <% if @product_type.name == 'Instructions' %>
      <div class="row">
        <% @top_categories.each do |category| %>
          <div class="col-md-6 d-flex">
            <div class="card mb-4 mt-4">
              <div class="category-header">
                <%= link_to image_tag("/assets/category_images/#{category.name.to_snake_case}_logo.png", class: 'card-img-top img-fluid'), {controller: :store, action: :categories, product_type_name: @product_type.name, category_name: category.name} %>
              </div>
              <div class="card-body">
                <h3 class="card-title"><%= category.name %></h3>
                <p class="card-text">
                  <%= category.description %>
                </p>
              </div>
              <div class="card-footer card-footer-no-border bg-transparent text-center">
                <%= link_to 'Check Out Instructions', {controller: :store, action: :categories, product_type_name: @product_type.name, category_name: category.name}, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= render 'products_list', product_type: @product_type.name, products: @products %>
    <% end %>
  </div>
</section>