<%= content_for(:title, "Custom Lego #{@product.product_type.name.downcase}: #{@product.name}") %>
<section class="content">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to @product.product_type.name, store_products_path(product_type_name: @product.product_type.name) %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to @product.category.name, {controller: :store, action: :categories, product_type_name: @product.product_type.name, category_name: @product.category.name} %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= @product.code_and_name %></li>
      </ol>
    </nav>
    <br/>
    <% if @product.ready_for_public? %>
      <div itemscope="<%= true %>" itemtype="http://schema.org/Product">
        <link href="/<%= @product.product_code %>/<%= @product.name.to_snake_case %>" itemprop="url"></link>
        <meta content="<%= @product.name %>" itemprop="name"/>
        <meta content="<%= @product.product_code %>" itemprop="sku"/>
        <span itemscope="<%= true %>" itemtype="http://schema.org/Brand">
          <meta content="Brick City Depot" itemprop="name"/>
        </span>
        <div class="row">
          <div class="col-md-5">
            <h1><%= "#{@product.product_code} #{@product.name}" %></h1><br/>
            <% if @product.youtube_url? %>
              <a data-toggle="lightbox" data-gallery="product-images" href="https://www.youtube.com/watch?v=<%= @product.youtube_url %>">
                <div class='border rounded-circle m-1 d-inline-block youtube-logo'></div>
              </a>
            <% end %>
            <% unless @product.images.empty? %>
              <% @product.images.each_with_index do |image, index| %>
                <a href="<%= image.url %>" data-toggle="lightbox" data-gallery="product-images">
                  <div class="rounded-circle m-1 border img-fluid d-inline-block" itemprop="<%= 'image' if index == 0 %>" style="background-image: url(<%= image.url.thumb %>);background-size:cover;background-position:center;height:100px;width:100px;"></div>
                </a>
              <% end %>
              <br/>
              <div class="w-50 text-center border rounded ml-auto mr-auto mt-3 image-enlarge">
                <small class="text-white">Click on an image to enlarge</small>
              </div>
            <% end %>
          </div>
          <div class="col-md-7">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title mt-1 mb-0"><%= "#{@product.product_code} #{@product.name} #{@product.product_type.name unless ['Models', 'Kits'].include? @product.product_type.name}" %></h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-10">
                    <p class="card-text" itemprop="description">
                      <%= @product.description %>
                    </p>
                    <% if @product.is_physical_product? %>
                      <% if @product.out_of_stock? %>
                        <span class="sad">
                          Out of Stock!
                        </span>
                      <% else %>
                        <span class="sad">
                          Only
                          <strong>
                            <%= @product.quantity %>
                          </strong>
                          available!
                        </span>
                      <% end %>
                      <strong>
                        <%= @product.product_type.name %>
                      </strong>
                    <% else %>
                      <h5 class="d-inline">Instructions only!</h5>
                    <% end %>
                    What do I get?
                    <a tabindex="0" role="button" class="btn-lg" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="<%= @product.product_type.comes_with_title %>" data-content="<%= @product.product_type.comes_with_description %>">
                      <i class="fa fa-question-circle"></i>
                    </a>
                    <% if @product.is_free? %>
                      <h5>
                        <strong>FREE</strong>
                        for users with an account!</h5>
                      <br/>
                      <p>
                        (Go to the
                        <%= link_to "Account page", account_path %>
                        to download instructions)
                      </p>
                    <% else %>
                      <br/>
                      <br/>
                      <h5 class="d-inline">Price:</h5>
                      <%= number_to_currency(@product.price) %>
                    <% end %>
                    <br/>
                    <% unless @product.out_of_stock? || @product.is_free? %>
                      <%= link_to raw("<i class='fa fa-cart-plus'>&nbsp; <span style='font-size:larger'>Add to Cart</span></i>"), {action: "add_to_cart", product_code: @product.product_code}, class: 'btn btn-primary', data: {disable_with: 'Adding...'}, method: :post %>
                    <% end %>
                  </div>
                  <div class="col-md-2">
                    <%= image_tag("product_#{@product.designer}", class: 'sigfig-sm') %>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <h3>Be sure to share!</h3>
                <div class="sharethis-inline-share-buttons mb-4 mt-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <br/>
      <br/>
      <hr/>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Product",
          "name": "<%= @product.name %>",
          "image": '<%="#{host_url}#{ @product.images.first.url }"%>',
          "description": "<%= @product.description %>",
          "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "<%= @product.price %>",
            "availability": "http://schema.org/InStock",
            "seller": {
              "@type": "Organization",
              "name": "Brick City Depot"
            }
          }
        }
      </script>
    <% else %>
      <div class="text-center">
        <div class="sad">
          <strong>
            Sorry! This model is not currently available.
          </strong>
        </div>
      </div>
    <% end %>
    <div class="mt-5">
      <%= render 'similar_products', similar_products: @similar_products, product: @product %>
    </div>
  </div>
</section>
<script>
  $(document).on('click', '[data-toggle="lightbox"]', function (event) {
    event.preventDefault();
    $(this).ekkoLightbox({wrapping: false});
  });
</script>
<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5af201337782d000113e15aa&product=inline-share-buttons' async='async'></script>