=h1(@product_type.name)
%br
%br
%p
  = @product_type.description
%br
%br
.top_level_categories
  %table.categories_table
    - if @product_type.name == 'Instructions'
      - until @top_categories.length == 0
        - categories = @top_categories.to_a.pop(3).reverse!
        %tr
          - categories.each do |category|
            %td
              = link_to image_tag("/assets/category_images/#{category.name.to_snake_case}_logo.png"), {:controller => :store, :action => :categories, :product_type_name => @product_type.name, :category_name => category.name}
              %br
              %p #{category.description}
    - else
      = render 'products_list', product_type: @product_type.name, products: @products