<br/>
<p>
  Note: The url we give the partner to feed to us for this advertising campaign would look like this: http://brickcitydepot.com?referrer_code=12345ABCDE, where 12345ABCDE is the reference code you set below.
</p>
<br/>
<%= form_for advertising_campaign do |f| %>
<div class="field">
  <%= f.label :partner_id, "Partner" %>
  <br/>
  <%= f.select :partner_id, partners, :prompt => true %>
</div>
<div class="field">
  <%= f.label :reference_code, "Reference Code (Must be 10 characters, exactly)" %>
  <br/>
  <%= f.text_field :reference_code, placeholder: "BSETOCT146" %>
</div>
<div class="field">
  <%= f.label :description, "Description (This is just for us, some notes on what makes this campaign different, how much it cost, how long it was, etc.)" %>
  <br/>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :campaign_live, "Make campaign live" %>
  <br/>
  <%= f.check_box :campaign_live, {:checked => advertising_campaign.campaign_live},1,0 %>
</div>
<div class="actions">
  <%= f.submit 'Save' %>
</div>
<% end %>