%br
%p
  Note: The url we give the partner to feed to us for this advertising campaign would look like this:
  http://brickcitydepot.com?referrer_code=12345ABCDE, where 12345ABCDE is the reference code you set below.
%br
= form_for advertising_campaign do |f|
  .field
    = f.label :partner_id, "Partner"
    %br
    = f.select :partner_id, partners, :prompt => true
  .field
    = f.label :reference_code, "Reference Code (Must be 10 characters, exactly)"
    %br
    = f.text_field :reference_code
  .field
    = f.label :description, "Description (This is just for us, some notes on what makes this campaign different, how much it cost, how long it was, etc.)"
    %br
    = f.text_area :description
  .field
    = f.label :campaign_live, "Make campaign live"
    %br
    = f.check_box :campaign_live, {:checked => advertising_campaign.campaign_live},1,0
  .actions
    = f.submit 'Save'
