<p>
  Note: The url we give the partner to feed to us for this advertising campaign would look like this: http://brickcitydepot.com?referrer_code=12345ABCDE, where 12345ABCDE is the reference code you set below.
</p>
<%= nested_form_for advertising_campaign do |f| %>
  <div class="row">
    <div class="col-5">
      <div class="card">
        <div class="card-header">
          <b>Advertising Campaign</b>
        </div>
        <div class="card-body">
          <div class="form-group">
            <%= f.label :partner_id, "Partner", class: 'form-label' %>
            <%= f.select :partner_id, partners, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :reference_code, "Reference Code (Must be 10 characters, exactly)", class: 'form-label' %>
            <%= f.text_field :reference_code, placeholder: "BSETOCT146", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :description, "Description (This is just for us, some notes on what makes this campaign different, how much it cost, how long it was, etc.)", class: 'form-label' %>
            <%= f.text_area :description, rows: 5, class: 'form-control' %>
          </div>
          <div class="form-check">
            <%= f.check_box :campaign_live, {checked: advertising_campaign.campaign_live, class: 'form-check-input'},1,0 %>
            <%= f.label :campaign_live, "Make campaign live", class: 'form-check-label' %>
          </div>
          <div class="form-group mt-4">
            <%= f.submit 'Save', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
