<h1>Listing Advertising Campaigns</h1>
<br/>
<table class="admin_table">
  <tr>
    <th>Partner</th>
    <th>Reference code</th>
    <th>Is Campaign Live?</th>
    <th></th>
    <th></th>
    <th class="sad">ONLY DESTROY IF UNUSED</th>
  </tr>
  <% @advertising_campaigns.each do |advertising_campaign| %>
    <tr>
      <td>
        <%= advertising_campaign.partner.name %>
      </td>
      <td>
        <%= advertising_campaign.reference_code %>
      </td>
      <% if advertising_campaign.campaign_live? %>
        <td>
          <b class="happy">YES</b>
        </td>
      <% else %>
        <td>
          <b class="sad">NO</b>
        </td>
      <% end %>
      <td>
        <%= link_to 'Show', advertising_campaign %>
      </td>
      <td>
        <%= link_to 'Edit', edit_advertising_campaign_path(advertising_campaign) %>
      </td>
      <td>
        <%= link_to 'Destroy', advertising_campaign, data: {confirm: 'Are you sure?'}, :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to 'New Advertising campaign', new_advertising_campaign_path %>