<p>
  <b>Partner:</b>
  <%= link_to @advertising_campaign.partner.name, :controller => :partners, :action => :show, :id => @advertising_campaign.partner_id %>
</p>
<p>
  <b>Reference code:</b>
  <%= @advertising_campaign.reference_code %>
</p>
<p>
  <b>Is Campaign Live?</b>
  <% if @advertising_campaign.campaign_live? %>
    <b class="happy">YES</b>
  <% else %>
    <b class="sad">NO</b>
  <% end %>
</p>
<p>
  <b>Description</b>
  <%= @advertising_campaign.description %>
</p>
<p>
  <b>New Users from this Campaign:</b>
  <%= @advertising_campaign.user_count %>
</p>
<br/>
<%= link_to 'Edit', edit_advertising_campaign_path(@advertising_campaign) %>
\|
<%= link_to 'Back', advertising_campaigns_path %>