<br/>
<%= form_for image, :html => {:multipart => true} do |f| %>
<div class="field">
  <%= f.label :product_id, "Product" %>
  <br/>
  <% if image.product_id %>
    <%= image.product.code_and_name %>
    <%= f.text_field :product_id,{value => image.product_id, :type => 'hidden'} %>
  <% else %>
    <%= f.select :product_id, products %>
  <% end %>
</div>
<% if image.url? %>
  <div class="field">
    <%= f.label :url %>
    <br/>
    <%= f.text_field :url, :disabled => true %>
    <br/>
  </div>
  <%= image_tag(image.url.thumb) %>
  <div class="field">
    <%= f.label :delete_url, "Destroy image" %>
    <%= f.check_box :remove_url %>
  </div>
<% else %>
  <div class="field">
    <%= f.label :url, "Image" %>
    <br/>
    <%= f.file_field :url %>
    <%= f.hidden_field :url_cache %>
  </div>
<% end %>
<div class="actions">
  <%= f.submit 'Save' %>
</div>
<% end %>