%h1 Listing images
%br
= paginate @images
%table.admin_table
  %tr
    %th Filename
    %th Product
    %th
    %th
    %th

  - @images.each do |image|
    %tr
      %td= image.url
      - if image.product
        %td= "#{image.product.product_code} #{image.product.name}"
      - else
        %td= image.url.to_s.split('.')[0].humanize
      %td= link_to 'Show', image
      %td= link_to 'Edit', edit_image_path(image)
      %td= link_to 'Destroy', image, data: {confirm: 'Are you sure?'}, :method => :delete
=paginate @images
%br

= link_to 'New Image', new_image_path
