%b Full URL
%br
= @image.url
%br
%br
- if @image.product
  %b Image for:
  = "#{@image.product.product_code} #{@image.product.name}"
- else
  = @image.url.to_s.split('.')[0].humanize
%br
%br
= link_to 'Edit', edit_image_path(@image)
\|
= link_to 'Back', images_path
