<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Brick City Depot</title>
    <!--/= stylesheet_link_tag 'screen.css', :media => 'screen, projection' -->
    <!--/= stylesheet_link_tag 'print.css', :media => 'print' -->
    <!--//[if IE] -->
    <!--/ = stylesheet_link_tag 'ie.css', :media => 'screen, projection' -->
    <%= stylesheet_link_tag 'application.css' %>
    <%= stylesheet_link_tag 'admin.css' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <!--/= stylesheet_link_tag :all -->
    <!--/= javascript_include_tag 'jquery' -->
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>
    <div class="content">
      <div class="header">
        <div class="admin_navigation">
          <%= render :partial => 'shared/admin_navigation' %>
        </div>
      </div>
      <div class="container">
        <% if notice %>
          <div id="notice" class="rounded my-3 p-3">
            <%= notice %>
          </div>
          <br/>
        <% end %>
        <% if alert %>
          <div id="alert" class="rounded my-3 p-3">
            <%= alert.html_safe %>
          </div>
          <br/>
        <% end %>
        <div class="clear"></div>
        <br/>
        <%= yield %>
      </div>
      <div class="footer">
        <%= render :partial => 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
