!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    %meta{:name => "google-site-verification", :content => "m6aCl_TMUyZi-kR1BIijxqWbYrix12cNmvBR7VWX6U0"}
    %meta{:name => "viewport", :content => "width=device-width", :media => "all"}
    %meta{:name => "keywords", :content => meta_keywords}/
    %meta{:name => "description", :content => meta_description}/
    %meta{:property => "og:image", :content => "#{opengraph_metadata[:image]}" }/
    %meta{:property => "og:title", :content => content_for?(:title) ? yield(:title) : "Brick City Depot" }/
    %meta{:property => "og:description", :content => "#{opengraph_metadata[:description]}" }/
    %meta{:property => "fb:app_id", :content => "#{opengraph_metadata[:app_id]}" }/
    %meta{:property => "og:site_name", :content => "#{opengraph_metadata[:site_name]}" }/
    %meta{:property => "og:url", :content => "#{opengraph_metadata[:url]}" }/
    = favicon_link_tag 'favicon.ico'
    %title
      = content_for?(:title) ? yield(:title) : "Brick City Depot"
    <!--[if lt IE 9]>
    <script async src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    = stylesheet_link_tag 'application.css'
    <!--[if IE]>
    = stylesheet_link_tag 'ie', :media => "all"
    <![endif]-->

    = javascript_include_tag 'application'

    = csrf_meta_tags
    <!--[if !IE7]>
    <style type="text/css">
    .content{style: 'display:table;height:100%;'}
    </style>
    <![endif]-->
    = yield :head
  %body
    .content
      .logo
        = image_tag('logo180x115.png', alt: "BCD logo", title: "Brick City Depot")
      .header
      .navigation
        = render :partial => 'shared/navigation'
      .header_spacer
      .rounded_corner_cart_tie-in
        = image_tag('bottom_right_rounded_corner.png', alt: "bottom_right_rounded_corner", title: "Corner")
      .cart_stuff
        = render :partial => 'shared/cart_info', locals: {cart: @cart}

      .clear
      .sidebar_wrapper
        .sidebar_div1
          = render :partial => 'shared/categories', locals: {categories: @categories, alternatives: @alternatives,
                                                    product_type: @product_type, price_groups: @price_groups}
        .sidebar_div3
          = render :partial => 'shared/resources'
      .main
        - if notice
          #alert_wrapper
            #speech_bubble_thing
              = image_tag('speech_bubble_thing.png')
            #lego_head
              = image_tag('happy_head.png')
            #notice
              #alert_message
                = notice
          %br
          %br
        - if alert
          #alert_wrapper
            #speech_bubble_thing
              = image_tag('speech_bubble_thing.png')
            #lego_head
              = image_tag('happy_head.png', height: '50px')
            #alert
              #alert_message
                = alert
          %br
          %br
        .clear
        .centered_text
          %h1
            = yield(:h1) || "Welcome to Brick City Depot"
        .centered_text
          %h2
            = yield(:h2)
        .clear

        - if @cart && @cart.errors.any?
          %ul.cart_errors
            - @cart.errors.full_messages.each do |msg|
              %li.cart_error
                = msg
        .main_content
          = yield
    .footer
      = render :partial => 'shared/footer'
    = render :partial => 'shared/google_analytics_code'
    = render :partial => 'shared/google_social_profile'
:javascript
  window.onpageshow=function() {
    var cookie = getCookie('show_thank_you');
    if (cookie) {
      window.location.replace('/thank_you')
    }
  }

  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
  }