%h1 Instant Payment Notifications
%br
%p
  * Red payment status indicates unprocessed, green payment status indicates processed
%br
= paginate @instant_payment_notifications
%table.admin_table
  %thead
    %tr
      %th Payment Status
      %th Request ID
      %th Transaction ID
      %th Order ID
      %th Payer Email
      %th Transaction Date

  %tbody
    - @instant_payment_notifications.each do |ipn|
      %tr
        - if ipn.processed?
          %td.happy= ipn.payment_status
        - else
          %td.sad= ipn.payment_status
        %td= link_to ipn.request_id, ipn
        %td= ipn.txn_id
        %td= ipn.order_id
        %td= ipn.payer_email
        %td= ipn.created_at
= paginate @instant_payment_notifications