<p>
  * <span class="text-danger">Red payment status indicates unprocessed,</span> <span class="text-success">green payment status indicates processed</span>
</p>
<div class="card">
  <div class="card-header">
    Listing instant payment notifications
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div class="col-auto mr-auto">
            <%= paginate @instant_payment_notifications %>
          </div>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="table-secondary">
              <th class="align-middle text-center"><%= sort_link(@q, :payment_status) %></th>
              <th class="align-middle text-center">Request ID</th>
              <th class="align-middle text-center">Transaction ID</th>
              <th class="align-middle text-center">Order ID</th>
              <th class="align-middle text-center">Payer Email</th>
              <th class="align-middle text-center"><%= sort_link(@q, :created_at, 'Transaction Date') %></th>
            </tr>
          </thead>
          <tbody>
            <% @instant_payment_notifications.each do |ipn| %>
              <tr>
                <td class="align-middle text-center">
                  <%= ipn.processed? ? raw("<span class='text-success'>#{ipn.payment_status}</span>") : raw("<span class='text-danger'>#{ipn.payment_status}</span>") %>
                </td>
                <td class="align-middle text-center">
                  <%= link_to ipn.request_id, ipn %>
                </td>
                <td class="align-middle text-center">
                  <%= ipn.txn_id %>
                </td>
                <td class="align-middle text-center">
                  <%= ipn.order_id %>
                </td>
                <td class="align-middle text-center">
                  <%= ipn.payer_email %>
                </td>
                <td class="align-middle text-center">
                  <%= ipn.created_at %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @instant_payment_notifications %>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            Search
          </div>
          <div class="card-body">
            <%= search_form_for @q do |f| %>
              <div class="form-group">
                <%= f.label :payment_status_eq %>
                <%= f.search_field :payment_status_eq, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :request_id_eq, 'Request ID equals' %>
                <%= f.search_field :request_id_eq, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :txn_id_eq, 'Transaction ID equals' %>
                <%= f.search_field :txn_id_eq, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :order_id_eq, 'Order ID equals' %>
                <%= f.search_field :order_id_eq, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :payer_email_eq %>
                <%= f.search_field :payer_email_eq, class: "form-control" %>
              </div>
              <br />
              <%= f.submit 'Search', class: 'btn btn-primary btn-block mb-1' %>
              <%= link_to "Clear Search", request.path, class:"btn btn-warning btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
