<p>
  <b>ID:</b>
  <%= @instant_payment_notification.id %>
</p>
<p>
  <b>Payment Status:</b>
  <%= @instant_payment_notification.payment_status %>
</p>
<p>
  <b>Notify Version:</b>
  <%= @instant_payment_notification.notify_version %>
</p>
<p>
  <b>Request ID:</b>
  <%= @instant_payment_notification.request_id %>
</p>
<p>
  <b>Verify Sign:</b>
  <%= @instant_payment_notification.verify_sign %>
</p>
<p>
  <b>Payer Email:</b>
  <%= @instant_payment_notification.payer_email %>
</p>
<p>
  <b>Order ID:</b>
  <%= @instant_payment_notification.order_id %>
</p>
<p>
  <b>Processed:</b>
  <%= @instant_payment_notification.processed %>
</p>
<p>
  <b>Transaction Date:</b>
  <%= @instant_payment_notification.created_at %>
</p>
<p>
  <b>Last Updated:</b>
  <%= @instant_payment_notification.updated_at %>
</p>
<p>
  <b>Params:</b>
  <%= @instant_payment_notification.params %>
</p>
<%= link_to 'Back', instant_payment_notifications_path %>